---
layout: default
title: Accessing The 'Agents' Page - Getting Started Guides | Learning Hub | Hystreet
description: On the staff interface, click on your initials in the top right corner
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Accessing The 'Agents' Page</h1>
  <p>On the staff interface, <strong>click on your initials</strong> in the top right corner.
    This will bring up a drop-down list with the buttons to access the 'Settings', 'Branches', 'Agents' and 'Staff' pages.</p>
  <p>Click on the <strong>'Agents'</strong> button to access the 'Agents' page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/admin-nav.png" alt="Screenshot of the admin navigation drop-dropdown">
      <p class="caption-text">Access the admin pages using these buttons.</p>
    </div>
  </div>
</div>
