---
layout: default
title: Completing a Property Factfind - Staff Site Guides | Learning Hub | Hystreet
description: Before a listing can be made live, you’ll need to complete a property factfind
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Completing a Property Factfind</h1>
  <p>Before a listing can be made live, you’ll need to complete a property Factfind.
    You'll find the property Factfind in the Factfind page of the Compliance section.</p>
  <p>In most cases, the seller will complete the form from the consumer site- you’ll just need to review it.
    If you’re happy to accept the fact find, set the ‘Factfind review status’ field at the top of the page to ‘Approved’ then click Save.
    Otherwise, you can set the field to ‘Requires action’, so your seller can make the required changes.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/factfind-review-status.PNG" alt="screenshot of factfind review status">
      <p class="caption-text">Approve the factfind here</p>
    </div>
  </div>
  <p>If you are completing the Factfind yourself, on behalf of the vendor, just fill out the form as necessary then click Save at the top of the page.</p>
  <p><i>Tip: the review status must be set to approved before the listing will show on the consumer site.
    The ‘Completed’ status suggests that the form has been filled out, but still requires an agent to review it.</i></p>
</div>
