---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
<div class="columns right large-9 lh-content">
  <h1>How sellers book a launch</h1>
  <p>After instructing an agent to sell their property, the next step for a seller is to book a launch. They can do this be going to <strong>account > manage my sale > complete checklist > book launch.</strong></p>
  <p>The seller will be presented with a table of all available time slots to pick their launch time from. Once they have selected a time they will need to click ‘book property launch’. </p>
  <p>They will then be taken to a page that advises them on preparing for the launch appointment (i.e. tidying up and clearing clutter). </p>
  <p>Clicking ‘okay- got it’ will take them to the appointment confirmation page.</p>
</div>
