---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Setting up your Portals</h1>
  <em><p>We've got quite a lot to tell you about publishing to portals - as such, we've put together a whole guide on the topic of portals.
    You can find our <a href="/guides/portal-setup"> Portal Guide here.</a></p></em>
  <p>On the branch settings page, you'll see three fields for Rightmove, Zoopla and OnTheMarket.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/portal-fields.png" alt="screenshot of portal fields.">
      <p class="caption-text">These fields are read only - you can see the information, but won't be able to edit it.</p>
    </div>
  </div>
  <p>You'll see that these fields look slightly different to the other fields on the page, and you won't be able to type anything into them.
    This is because our tech team will need to update these fields for you behind the scenes.</p>
  <p>These fields will show your <strong>'branch IDs'</strong> once you have spoken to your portal acount managers and arranged for your portal feeds to be set up.</p>
</div>
