---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---
<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Setting Up Your Portals</h1>
  <p>Hystreet can automatically publish your properties to the Portals for you, even updating the listing automatically for you when the status changes (For Sale, Under Offer &amp; SSTC).</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portals/approve-listing-buttons.PNG" alt="screenshot of approve listings buttons">
      <p class="caption-text"> use these buttons to send listings for approval</p>
    </div>
  </div>
  <p>Initially you’ll be provided with buttons on the staff interface for sending the listing to the seller for approval before it is made live on the client-facing end of the platform.
    Once you are comfortable with the process of getting listings to market, get in touch with our support team to start publishing to Portals!</p>
  <p>We are integrated with the leading Portals - Rightmove, Zoopla and On The Market.
    The process for setting up each is the same, though depending on the Portal, they might use slight different terminology.</p>
  <p><strong>Step 1 - Speak to your account manager</strong><br>
    All you need to do to start the setup process is contact your Portal account manager(s) and ask them to set up a <strong>new profile</strong> for you.
    They’ll be able to advise on their internal process and request any information or artwork they will need to get your profile up and running.</p>
  <p><strong>Step 2 - Let the Hystreet tech team do their thing!</strong><br>
  <p> Most of the Portal setup goes on behind in the scenes.
    Your Account manager will arrange a <strong>Branch ID</strong> and will usually send it directly to our tech team.
    If your account manager does give you the branch ID directly, just send it straight over to our support team.</p>
  <p>If you have published your listings from another CRM in the past, you'll probably already have a Branch ID saved somewhere.
    <strong>This branch ID won't work with the Hystreet system.</strong>
    You will need to speak to your account manager to get a new profile and branch ID arranged that is set up for your Hystreet platform.</p>
  <p><strong>Step 3 - Start publishing to portals</strong><br>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/portals/portal-publish-buttons.PNG" alt="screenshot of publish buttons">
        <p class="caption-text"> use these buttons to publish your listings to the portals</p>
      </div>
    </div>
  <p>Once our tech team has entered your branch ID into the system, you will see a new set of buttons appear on the listing presentation page.
    You'll simply need to hit 'publish' to send your listings off to the portals.</p>
</div>
