---
layout: default
title: Adding Postcode Districts - Getting Started Guides | Learning Hub | Hystreet
description: You can assign each Agent a set of postcode districts
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Adding Postcode Districts</h1>
  <p>You can assign each agent a set of postcode districts.
    This allows the system to automatically assign any new customers to the right agent for you.
    To add a new postcode district, start typing the desired postcode into the ‘Add postcode district’ field and a list will appear for you to pick from.
    Click ‘Save’ and you’ll see the postcode district added to the list.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <div class="columns large-9 text-center">
        <img src="/images/admin/set-districts.png" alt="screenshot of an agent's districts">
      </div>
      <div class="columns large-3 text-center">
        <img src="/images/admin/add-new-district.png" alt="screenshot of adding a new district">
      </div>
      <p class="caption-text">This is where you'll set your agents' postcodes</p>
    </div>
  </div>
  <strong> Removing a Postcode District </strong> <br>
  <p>To remove a postcode district just click the cross next to the district you would like to remove.
    No need to save on this occasion, the district will disappear straight away.</p>
  <p>Please note, once you have a assigned a postcode to one agent, you won't then be able to assign it to a second agent.
    If you'd like to move a postcode to one agent to another, you must first remove it from the original agent before you can add it to the new agent's covered districts.</p>
</div>
