---
layout: default
title: How buyers book viewings - Appointments Guides | Learning Hub | Hystreet
description: Your clients can book viewings by going to 'search properties' and clicking on the property they are interested in
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How buyers book viewings</h1>
  <p>Your clients can book viewings by going to <strong>'search properties'</strong> and clicking on the property they are interested in.
    This will take them to the listing page for that property.
    To book the viewing, they will need to click <strong>‘book a viewing’</strong>.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/CS-book-viewing-button.PNG" alt="Screenshot of the 'book viewing' button">
      <p class="caption-text">The colour of this button will depend on your colour scheme</p>
    </div>
  </div>
  <p>If your client has already logged in, they will be asked to provide some information on their current position and how they would fund the purchase of the property.</p>
  <p>If the buyer has not yet created an account, they will be asked to provide contact information and a password and email for their new account.
    They will then need to confirm their email address by following the link in the email they will recieve upon creation of the account.</p>
  <p>Once their email address is confirmed, they will be presented with a table of all available time slots to pick their viewing time from.
    Once they have selected a time they will need to click <strong>‘book a viewing’</strong> to confirm the appointment.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/CS-viewing-select-time.PNG" alt="Screenshot of timeslots for booking a viewing">
      <p class="caption-text">Click on the desired timeslot then hit 'book a viewing' </p>
    </div>
  </div>
</div>
