---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
<div class="columns right large-9 lh-content">
  <h1>How buyers book viewings</h1>
  <p>Your clients can book viewings by going to search properties and clicking on the property they are interested in.
    This will take them to the listing page for that property.
    To book the viewing, they will need to click ‘book a viewing’.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/appointments/CS-book-viewing-button.PNG" alt="Screenshot of the 'book viewing' button">
        <p class="caption-text">The colour of this button will depend on your colour scheme</p>
      </div>
    </div>
  <p>If they have not yet created an account (or aren’t logged in).
    They will be asked to create an account or log in.</p>
  <p>If your client has already logged in, they will be asked to provide some information on their current position and how they would fund the purchase of the property. </p>
  <p>Once this information has been entered, they will be presented with a table of all available time slots to pick their viewing time from.
    Once they have selected a time they will need to click ‘book a viewing’.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/appointments/CS-viewing-select-time.PNG" alt="Screenshot of timeslots for booking a viewing">
        <p class="caption-text">Click on the desired timeslot then hit 'book a viewing' </p>
      </div>
    </div>
  <p>If your client has already confirmed their account, they will be taken to the appointment confirmation page.</p>
  <p>If their account is not yet confirmed, they will be told that their appointment is only provisionally booked until they follow the confirmation link sent to them via email.</p>
</div>
