---
layout: default
title: Seller Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>The Property Fact Find</h1>
  <p>As part of the 'getting to market' checklist, the Hystreet platform asks your clients to complete a fact find on their property.
    This is essentially a questionnaire that gathers everything you would need to know about the property before it goes on the market.</p>
  <p>The fact find is split up over several pages.
    The first page asks the clients whether their property is freehold or leasehold - depending on the answer, the following questions will differ slightly.
    If a property is freehold, the following questions will ask for the properties tax band.
    If it is leasehold, then the following questions will be around the lease (before moving on to the tax band).</p>
  <p>For both freehold and leasehold properties, the fact find will also cover everything from the disputes around property boundaries, right through to whether the property has ever experienced knot weed or flooding.
    You can see the fact find in full from the staff site by going to <strong>properties &gt; view (on a property) &gt; compliance</strong>.</p>
  <p>Once the seller has completed the fact find, the agent will need to review then approve the listing from the staff site before the sale can move forward.<p>
</div>
