---
layout: default
title: How to book a take on - Appointments Guides | Learning Hub | Hystreet
description: Once you have been paid and instructed to sell a property, you will want to book a take on appointment
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How to book a take on</h1>
  <p>Once you have been paid and instructed to sell a property, you will want to book a take on appointment.
    To do this, go to <strong>properties &gt; view (on the property) &gt; appointments &gt; take on &gt; add take on.</strong></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/staff-book-take-on.PNG" alt="Screenshot of a the 'add take on' button">
      <p class="caption-text">Click this to book a take on</p>
    </div>
  </div>
  <p>Select the agent that is going to carry out the take on, then select the date and time for the appointment.</p>
  <p>When selecting a time for the appointment from the staff site, you will be shown which time slots are available or already booked, but you can book the appointment in any slot.</p>
</div>
