---
layout: default
title: Filtering on the Property List - Staff Site Guides | Learning Hub | Hystreet
description: Search and filtering for the property list is currently undergoing user testing, and as such is only available to a small number of agencies
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Search and Filtering on the Property List</h1>
  <p><em>Search and filtering for the property list is currently undergoing user testing, and as such is only available to a small number of agencies.
    Once this user testing has been complete, search and filtering for the property list will become available on all Hystreet platforms.</em></p>
  <p>You can now find properties in the property list by using the search and filter options.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/property-list-filters.png" alt="screenshot of the filter options on the property list">
      <p class="caption-text">you'll see these options at the top of your property list</p>
    </div>
  </div>
  <h2>Filtering by branch or negotiatior</h2>
  <p>You can filter the property list to show propertiies for a specific agent or branch.
    These are drop-down fields, so clicking on the boxes will bring up a list of all agents or branches on your platform.
    You can also check multiple items on these drop-downs (to show a select group of agents' properties, for example).</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/filter-branch-negotiator.png" alt="screenshot of the branch and negotiator filters">
      <p class="caption-text">specify branches or agents here</p>
    </div>
  </div>
  <h2>Filtering by statuses</h2>
  <p>You can filter the property list by sale statuses.
    The filterable states are 'Potential', 'On Market', 'Under offer', and 'SSTC'.
    As with filtering by branch or negotiator, you can select multiple statuses to filter by; You could see a list of all properties under offer or SSTC, for instance.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/filter-by-status.png" alt="screenshot of the status filter">
      <p class="caption-text">use this drop-down to filter the list by sale states</p>
    </div>
  </div>
  <h2>Searching by Addresses or seller</h2>
  <p>You can find a specific property quickly by searching for the address or seller.
    If you're using the address to find the property, start typing in the 'search by address' box.
    Likewise, if you're using the seller's name, start typing in the 'search by seller' box.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/search-seller-address.png" alt="screenshot of seller and address search boxes">
      <p class="caption-text">start typing in these boxes to find properties</p>
    </div>
  </div>
  <h2>Clearing filters</h2>
  <p>To revert all filtering and see your full stock of properties on your platform, simply click the 'clear filters' button.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/clear-filter-button.png" alt="screenshot of the clear filters button">
      <p class="caption-text">click this to clear all filters applied to the property list</p>
    </div>
  </div>
</div>
