---
layout: default-nobreadcrumbs
title: Learning Hub | Hystreet
description: Welcome to the Hystreet learning hub, where you can find out how to make the most out of Hystreet
section_id: home
menu: site.data.side
---


<h1>Welcome to the Learning Hub </h1>
<div class="postcard-home" style="height: auto">
  <h2 class="subheader"> Here's what you need to know...</h2>
  <p style="margin-left: 30px; margin-right: 30px;">
    On this site, you'll find guides covering all the functionality that the Hystreet platform offers, as well as a collection of our most frequently asked questions.
    You'll also find a handy checklist of all the steps involved in getting the platform up and working for your agency.
    Follow the quick links below to read more on any of these.
  </p>
  <p style="margin-left: 30px; margin-right: 30px;">
    Head over to the releases page for in-depth coverage of what our dev team has been working on.
    New release notes get posted there with every update to the Hystreet platform.
  </p>
  <p style="margin-left: 30px; margin-right: 30px;">
    Take a look at the news section to see any announcements we make or any other articles we think you'll be interested in.
  </p>
  <p style="margin-left: 30px; margin-right: 30px;">
    The Learning Hub is an on-going project of our support team.
    If there's anything you would like to know but can't find in the guides, let us know and we can update the guides accordingly.
  </p>
</div>

<div class="postcard-home">
  <h2 class="subheader">Quick Links</h2>
  <div class="row" style="margin-left: 0; margin-right:">
    <div class="homepage-columns columns large-4 text-center">
      <a class="homepage-button" href="/guides">
        <div class="background-contain block-margin-auto" style="background-image: url(/images/SVG/home-guides.svg); height: 120px;" title="Guides">
        </div>
        <br>
        <h3 class="subheader"><strong> Guides </strong></h3>
      </a>
    </div>
    <div class="homepage-columns columns large-4 text-center">
      <a class="homepage-button" href="/faqs">
        <div class="background-contain block-margin-auto" style="background-image: url(/images/SVG/home-faqs.svg); height: 120px;" title="Faqs">
        </div>
        <br>
        <h3 class="subheader"><strong> Faqs </strong></h3>
      </a>
    </div>
    <div class="homepage-columns columns large-4 text-center">
      <a class="homepage-button" href="/checklist">
        <div class="background-contain block-margin-auto" style="background-image: url(/images/SVG/home-checklist.svg); height: 120px;" title="Checklist">
        </div>
        <br>
        <h3 class="subheader"><strong> Checklist </strong></h3>
      </a>
    </div>
  </div>
</div>


<div class="postcard-home">
  <h2 class="subheader mb-30">Latest News</h2>
  <div class="row">
    <div class="columns large-6 left">
      <div style="margin: 30px; margin-top: 10px; margin-bottom: 10px;">
        {% for post in site.posts limit:1 %}
          <span class='month'>{{ post.date | date: "%h" }}</span>
          <span class='date'>{{ post.date | date: "%d" }}</span>
          <h3 href="{{ post.url }}" style="text-align: left;">{{ post.title }}</h3>
          <p style="margin-bottom: 0">{{ post.description }}</p>
          <br>
          <p><a class="button" href="{{ post.url }}">Read More</a></p>
        {% endfor %}
      </div>
    </div>
    <div class="columns large-6 right">
      {% for post in site.posts limit:1 %}
        <img class="newsimage-home" src="{{ post.image }}" alt="{{ post.alt}}">
      {% endfor %}
    </div>
  </div>
</div>

<div class="postcard-home">
  <h2 class="subheader mb-30"> Latest Releases</h2>
    <div class="row">
      {% assign sorted = site.releases | reverse %}
      {% for post in sorted limit:3 %}
    		<div class="columns left large-3" style="text-align: right;">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    		</div>
    		<div class="columns left large-9" style="text-align: left;">
          <strong><span class='month'>{{ post.date | date_to_string }}</span></strong>
          <p>{{ post.description }}</p>
        </div>
      {% endfor %}
  </div>
  <div style="margin: 30px; margin-top: 10px; margin-bottom: 10px;">
    <br>
    <a class="button" href="/releases">More Releases</a>
  </div>
</div>
