---
layout: default
title: Registering a New Property - Staff Site Guides | Learning Hub | Hystreet
description: To add a new property, go to the 'Properties' page and click the 'Add property' button
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Registering a New Property</h1>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/add-property-button.PNG" alt="screenshot of add property button">
      <p class="caption-text">Click this button to add a new property</p>
    </div>
  </div>
  <p>To add a new property, go to the <strong>'Properties'</strong> page and click the <strong>'Add property'</strong> button.</p>
  <p>On the following page, use the boxes to select the branch and agent tied to the property.
    Next, enter the property's postcode and click <strong>'Find Address'</strong>.
    The system will bring up a list of all addresses in that postcode - just click the correct one.
  <p>On the odd occasion (<em>if you are adding a new build, for example</em>), the system might not find the property address in the database.
    Don't worry if this happens, you can still manually enter the postcode by clicking the link that says <strong>"No postcode? Add the address"</strong>.</p>
  <p>When the address has been entered, you just need to hit save.
    This will add the property to your system and take you to the property details page, where you can record information about the property before the valuation.
    You can read our guide on entering <a href="/guides/staff-site/collecting_pre-valuation_details/">pre-valuation details here</a>.</p>
</div>
