---
layout: default
title: Staff Site Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Registering a New Property</h1>
  <p>In the properties section, you’ll see a table with all properties added through both the staff and consumer site.
    The left column shows the status of the property (Potential, On Market, Under Offer, SSTC or Withdrawn).
    You'll also see columns for the property address and the seller's name.
    To the right of each entry on the table you’ll see ‘view’ button.
    This will take you into the details section for that property.</p>
  <p>If this list of properties exceeds ten entries, it will be split up into multiple pages.
    You’ll see page numbers underneath the list to move between the pages.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/pagination.PNG" alt="screenshot of pagination">
      <p class="caption-text">Use this bar to view the next page of properties</p>
    </div>
  </div>
  <p>Above and to the right of the list, there’s an ‘add property’ button.
    Clicking this takes you to a page to fill out the new property's address and select the branch and agent tied to the property.
    Fill out these details then click ‘save’ to add the property to the property list.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/add-property-button.PNG" alt="screenshot of add property button">
      <p class="caption-text">Click this button to add a new property</p>
    </div>
  </div>
</div>
