---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>The Hystreet Support Account</h1>
  <p>You might have noticed an extra staff user listed on your platform, labelled 'Hystreet Support'.</p>
  <p>This is actually an account that our dedicated support team can use to log in to your Hystreet platform, should you ever run into any issues.
    This will allow them to see exactly what you can see, and make it a little bit easier for them to get to the root of any problems and find a solution for you quicker!</p>
  <p>If you ever need help from our support team, you can easily get in touch by using the Support tab on your platform, or by calling us on <strong>0203 908 3000.</strong></p>
</div>
