---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Using the 'viewings by' function</h1>
  <p>The ‘viewings’ by function allows you to determine whether viewings can be booked against your availability as an agent, the seller’s availability, or a mix of both. To do this, go to the staff site and click <strong>properties > view (on the property) > manage.</strong></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/manage-viewings-by.PNG" alt="Screenshot of the 'viewings by' field">
      <p class="caption-text">Select how you'd like to handle viewings for the property here</p>
    </div>
  </div>
  <p>Click on the ‘viewings by’ dropdown to select how you would like viewings on that property to be managed, then hit save. </p>
  <p>Use ‘viewings by: agent’ if you are managing viewings for the property without the presence of the seller. </p>
  <p>Use ‘viewings by: seller’ if the seller is going to manage the viewings independently.</p>
  <p>Use ‘viewings by: both agent and seller’ if your seller is managing the viewings has requested accompanied viewings</p>`
</div>
