---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Booking A Take On</h1>
  <p>After payment has been received, the next step is to arrange a Take On appointment.
    The seller can do this by clicking on the 'Complete Checklist' option om the sale overview page, then clicking 'Book Take On'.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/CS-book-take-on.PNG" alt="Screenshot of a the 'book take on' button">
      <p class="caption-text">Click this to book a take on appointment from the consumer site</p>
    </div>
  </div>
  <p>This will lead you to a table showing the agent's availability (similar to the table seen when booking a valuation).</p>
  <p>The seller just needs to check the time slot that suits them best, then click ‘Book Property Take On’.
    Just before seeing the confirmation page, they’ll be given some tips on how to best prepare for the take on.</p>
  <p>As with booking a valuation, emails to confirm the appointment will be sent out to both the agent and the seller.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/seller/housekeeping-page.png" alt="Screenshot of the take on preparation tips">
        <p class="caption-text">These tips should ensure that your Take On appointments are as productive as possible</p>
      </div>
    </div>
  <p>As with booking a valuation, emails to confirm the appointment will be sent out to both the agent and the seller.</p>
</div>
