---
layout: default
title: FAQs | Learning Hub | Hystreet
description: Frequently asked questions about Hystreet. Find the answer to your questions.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include faqs.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1> Getting Support </h1>
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panel1"><strong>How can help me get up and running with Hystreet?</strong></a>
      <div id="panel1" class="content active">
        <p>Your customer success manager will be able to answer any questions you may have related to getting live with Hystreet and taking on clients.
          You might also want to take a look at our <a href="/checklist/">Onboarding Checklist</a> for some guidance on getting live </p>
      </div>
    </dd>
    <dd class="accordion-navigation">
      <a href="#panel2"><strong>Who can help me if I have an issue?</strong></a>
      <div id="panel2" class="content active">
        <p>Our team is dedicated to providing you with a quality site, but we understand that sometimes might not work quite the way you expect it to.
          If you’ve found something that isn’t working, or if you just want some clarification, you can contact our tech wizards by hitting the ‘Support’ tab in the bottom left corner of your screen (as seen below).</P>
        <img src="/images/support-button.JPG" alt= "the support button">
        <img src="/images/help-and-support-box.png" alt= "help and support entry fields">
        <p>The box that appears in the centre of the page is where you tell us what email you want us to reply to, what’s gone wrong and how serious the issue is.
          Once you’ve filled those in, simply hit ‘Send Feedback’.
          From there, our wizards will pick up the issue and keep you updated at every step towards resolving the issue.</p>
      </div>
    </dd>
    <dd class="accordion-navigation">
      <a href="#panel3"><strong>Can I request new features?</strong></a>
      <div id="panel3" class="content active">
        <p>Yes!
          If you think of something that would be useful to have on the site, simply click ‘Support’ in the bottom left corner of your screen.
          Use the box that appears in the centre of the screen to tell us what your ideas are. </p>
        <p>Our tech team will then let you know via email whether implementing the suggested feature is possible or if we have already started developing it. </p>
      </div>
    </dd>
  </dl>
</div>
