---
layout: default
title: Buyer guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Feedback reminders</h1>
  <p>The hystreet platform will automatically send your buyers reminders to leave feedback after a viewing.
    Buyers will receive these email reminders with a link to go and leave feedback at the following times.</p>
  <ul>
    <strong>
      <li>Two hours after the viewing</li>
      <li>Twenty four hours after the viewing</li>
      <li>Forty eight hours after the viewing</li>
      <li>seventy two hours after the viewing</li>
    </strong>
  </ul>
  <p>If, by this point, the buyer still hasn't left any feedback on the property, they probably aren't interested in purchasing the property.
    In this case, the system will send an automated message to the seller informing them as such.</p>
  <p>Please note that even after all of these reminders have been sent, the buyer can still log into the platform and leave feedback on the property at any time.</p>
</div>
