---
layout: default
title: what are Favicons? - Getting Started Guides | Learning Hub | Hystreet
description: When you go to a website, you'll often see a miniature version of the company's logo in the browser tab
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>what are Favicons?</h1>
  <p>When you go to a website, you'll often see a miniature version of the company's logo in the browser tab - that's a favicon!<p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/admin/favicon-example.png" alt="screenshot of Hystreet favicon">
        <p class="caption-text">Hystreet's favicon</p>
      </div>
    </div>
  <p>You can set your own favicon to display on your Hystreet platform.
    we cover this in our <a href="/guides/getting-started-with-hystreet/updating_your_branding/">'updating your branding'</a> guide.</p>
</div>
