---
layout: default
title: The Rightmove Pricing System - Portal Guides | Learning Hub | Hystreet
description: Rightmove's pricing to add a new feed varies depending your region and which packages you already have with them
section_id: home
menu: site.data.birds
---
<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>The Rightmove Pricing System</h1>
  <p>Rightmove's pricing to add a new feed varies depending your region and which packages you already have with them.
    We always recommend you confirm the fees with your account manager before arranging the new profile, Here's some rough guidance on what to expect price-wise:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portals/single-branch-one-profile.PNG" alt="Single branch, one profile">
      <p class="caption-text">Single branch, one profile.</p>
    </div>
  </div>
  <p>If this will be your first profile on Rightmove or If you are using the Hystreet platform to set up a new online agency (i.e. a different legal entity) you will need to purchase a subscription to Rightmove.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portals/single-branch-multiple-profiles.PNG" alt="Single branch, multiple profiles">
      <p class="caption-text">Single branch, multiple profiles.</p>
    </div>
  </div>
  <p>If you are using the Hystreet platform to provide an online service under an existing ltd company you can purchase a second profile for your account.
    This will cost £150 (+VAT) on top of the usual monthtly cost for your existing profile and subscription.
    This set up requires your second profile to be for the same legal entity at the same address as your first profile, but does not require you to use the same trading name or branding.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/portals/single-branch-multiple-profiles-multiple-crms.PNG" alt="Single branch, multiple profiles, multiple CRMs">
        <p class="caption-text">Single branch, multiple profiles, multiple CRMs.</p>
      </div>
    </div>
  <p>If you already use another CRM, and have profiles for your traditional sales and lettings, it may also be worth asking you account manager about the 'Optimise' payment plans.
    Rightmove will be able to offer you larger discounts depending on the number of profiles you use.</p>
</div>
