---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---
<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div>
  <h1>The Rightmove Pricing System</h1>
<p>Rightmove's Pricing to add a new feed to the portals vary depending your region and what you've already got set up with them.
  We always recommend you confirm the fees with your account manager before arranging the new profile, Here's some rough guidance on what to expect price-wise:</p>

<p>If this will be your first profile on Rightmove or If you are using the Hystreet platform to set up a new online agency (i.e. a different legal entity) you will need to purchase a subscription to Rightmove.
  This will be in the region of £850 (+VAT).</p>

<p>If you are using the Hystreet platform to provide an online service under an existing ltd company you can purchase a second profile for your account.
  This will cost £150 (+VAT) on top of the usual monthtly cost for your existing profile and subscription.
  This set up requires your second profile to be for the same legal entity at the same address as your first profile, but does not require you to use the same trading name or branding.</p>
</div>
