---
layout: default
title: Bedroom and Bathroom Counters - Staff Site Guides | Learning Hub | Hystreet
description: Listings built on your Hystreet platform will show counters for each type of room
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Bedroom and Bathroom Counters</h1>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/room-counters.PNG" alt="screenshot of room counters">
      <p class="caption-text">The colour of these room icons will match your branding colours</p>
    </div>
  </div>
  <p>At the top of a listing, it's always nice to see how many bedrooms and bathrooms that property has; listings built on your Hystreet platform will show counters for this.</p>
  <p>The numbers on these counters are determined by how many of each <strong>room type</strong> you have added to the listing.
    When adding a new room, you'll see a box to select a room type.
    If you select <strong>'bedroom'</strong> here, the system will add that room to the total number for the bedroom - the same goes for selecting the <strong>'bathroom'</strong> or <strong>'reception'</strong> options.
    If you haven't added any rooms, the counters simply won't show up.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/room-info.png" alt="screenshot of populated room details fields">
      <p class="caption-text">Click the 'Room Type' box to show a list of all types to choose from</p>
    </div>
  </div>
  <p>You can also go back to previously added rooms to update their type by clicking <strong>'view'</strong> on the rooms list.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/rooms-list-view.png" alt="screenshot of view button on rooms list">
      <p class="caption-text">Click 'View' to edit the information for that room</p>
    </div>
  </div>
  <p>In addition to making your listings look that bit more polished, numbers of rooms are often displayed on the portals as well, so you'll always want to make sure you've added every room in the property to the listing!</p>
</div>
