---
layout: default
title: Buyer guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Viewing responses to offers</h1>
  <p><em>TIP: This guide covers the buyers perspective.
    If you'd like to find out more about offers from a seller's perspective, try <a href="/guides/seller">our seller guide</a>.</em></p>
  <p>Once a seller has responded to an offer, they buyer will receive an email to let them know.
    This email is just a notification, so they will need to log into their Hystreet account to see the response.
    They can find the responses by going to <strong>account &gt; 'properties you're interested in' &gt; offer negotiation</strong>.</p>
  <p>From here they will a log of all their offers on that property.
    If the offer is rejected, the buyer will be asked if they would like to submit a new offer.
    If the offer is accepted, they will be notified as such.</P>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/buyer/offer-accepted.png" alt="screenshot of the leave feedback option">
      <p class="caption-text">any conditions that have been agreed to will also be visible here</p>
    </div>
  </div>
</div>
