---
layout: default
title: Collecting Pre-valuation Details - Staff Site Guides | Learning Hub | Hystreet
description: You’ll immediately be brought here when you click view on a property in the property list
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Collecting Pre-valuation Details</h1>
  <p>You’ll immediately be brought here when you click view on a property in the property list.
    This page shows all the information from when the property was added.
    You’ll also see the fields for recording any additional information gathered prior to the valuation appointment.
    These fields look like this:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/staff-valuation-details.PNG" alt="screenshot of the valuation details page">
      <p class="caption-text">Valuation details can be recorded here</p>
    </div>
  </div>
  <p>You can update any of this information by clicking on the fields.</p>
</div>
