---
layout: default
title: Submitting an offer - Staff Site Guides | Learning Hub | Hystreet
description: To make a new offer on behalf of a buyer through the staff site, go to the 'offers' section click ‘make offer’ on the top right of the page
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Submitting an offer</h1>
  <p>To make a new offer on behalf of a buyer through the staff site, go to the 'offers' section click ‘make offer’ on the top right of the page.
    This will bring up a blank offer form.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/new-offer.PNG" alt="screenshot of the offers list">
      <p class="caption-text">any open, accepted, recjected or withdrawed offers will be listed here</p>
    </div>
  </div>
  <p>At the top of this page, you’ll see a ‘select buyer’ field for you to select who is making the offer.
    Below this, you’ll see fields for the offered amount, the status of the offer, and any additional offer conditions.
    By default, the status of the offer will be open.</p>
  <p>Underneath this, you’ll see checkboxes to confirm that the buyer is not an estate agent, is financially qualified, and has accepted your terms and conditions.
    You’ll need to accept the terms and conditions before an offer can be submitted.</p>
  <p>On the right of the screen, you’ll see fields to collect funding information.
    If an offer is being funded by the sale of another property, there’s a field to record the progression of that sale.
    If it’s being funded by a mortgage, there’s also a dropdown to record the mortgage status.
    If these fields aren’t applicable you can leave them blank.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/submit-offer.PNG" alt="screenshot of the new offer form">
      <p class="caption-text">Use this form to record the offer details</p>
    </div>
  </div>
</div>
