---
layout: default
title: How to view appointments from the staff site - Appointments Guides | Learning Hub | Hystreet
description: If you're looking for a list of all upcoming appointments, click 'Diary' at the top of the page
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How To View Appointments From The Staff Site</h1>
  <p>If you're looking for a list of all upcoming appointments, click <strong>'Diary'</strong> at the top of the page.
    This will lead to a page showing table of all appointments scheduled for the future.</p>
  <p>From left to right, the table shows: the appointment type (<em> valuation, take on, or viewing</em>), the property address, start time, end time, and the agent attending the appointment.</p>
  <p>You'll also see the option to <strong>'Select Agent'</strong> - this will filter the table down to one specific agent's appointments.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/diary-page.png" alt="Screenshot of diary page">
      <p class="caption-text">click 'view' to see details or amend the appointment</p>
    </div>
  </div>
  <p>If you're looking for appointments on a specific property, go to that property (<strong>'Properties' &gt; 'View'</strong>) then click <strong>'Appointments'</strong>.
    From here, you'll see an overview of all appointments on that property, including both past and upcoming appointments.</p>
</div>
