---
layout: default
title: Setting Your Service Fees - Getting Started Guides | Learning Hub | Hystreet
description: You can set your fees for each branch independently, so if you had a London branch for example, it’s common to set a higher fee for that branch
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Setting Your Service Fees</h1>
  <p>You can set your fees for each branch independently, so if you had a London branch for example, it’s common to set a higher fee for that branch.
    We’ll run through the fees here, but if you need any more information or help with these then get in touch with your Customer Success Manager.</p>
  <ul>
    <li><strong>Basic Service Fee: </strong> This is the fee you want to charge for your core service, this doesn’t include any add-ons such as an EPC or accompanied viewings. </li>
    <li><strong>Accompanied Viewing Add-on Fee: </strong> When instructing you your vendor is offered Accompanied Viewings as an add-on that they can pick. The instruction process automatically shows the fee you enter here and will calculate the payment for them just like checking out on a shopping website.</li>
    <li><strong>EPC Add-on Fee: </strong> Your vendor will also be offered the opportunity to order an EPC from you during instruction. Again the instruction process automatically shows the fee you enter here and will calculate the payment for them just like checking out on a shopping website.</li>
    <li><strong>Additional take on Visits Fee: </strong> If you want your staff to charge for additional take on visits, then record the amount here. In the future we will be adding in automation to help handle this automatically for you.</li>
  </ul>

  <h2>Other Fees</h2>
  <p><strong>you must speak to your legal team</strong> to confirm the best way for you to manage this, but we have included fields for you to record some common fees that might be used to cover you for work done.</p>
  <ul>
    <li>Admin charge fee</li>
    <li>take on fee</li>
    <li>Market preparation fee</li>
  </ul>
</div>
