---
layout: default
title: Booking a viewing - Buyer guides | Learning Hub | Hystreet
description: A buyer can book a viewing from a property listing on the consumer site by clicking the 'book a viewing' button
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Booking a viewing</h1>
  <h2>Account creation</h2>
  <p>A buyer can book a viewing from a property listing on the consumer site by clicking the <strong>'book a viewing'</strong> button.
    If it's the buyer's first time using your Hystreet platform, they will be asked to provide contact information and create their account.
    If they are already logged in to an account (if they are already selling a property with you, for instance), this step will be skipped.</p>
  <p><em>TIP:As part of Hystreet's changes for GDPR, your clients will be asked to choose when they would like to be contacted at this step.
    Once logged in, they will also be able to update these preferences by clicking the circle with their initials in the top right corner of the page and selecting <strong>My Preferences</strong> from the dropdown menu.</em></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/buyer/buyer-account.png" alt="screenshot of account creation">
      <p class="caption-text">Agents have access to this contact information from the staff site</p>
    </div>
  </div>
  <h2>Purchase position</h2>
  <p>Next, the buyer will be asked a few questions to build up an idea of their purchase position.
    These questions will cover whether the buyer is a first time buyer, existing homeowner or otherwise and how they plan to fund their purchase.</p>
  <p>If they are funding their purchase with the sale of their own property, the system will ask about the progression of that sale.
    If they are funding their purchase with a mortgage, the system will ask if the mortgage has been agreed in principle.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/buyer/buyer-purchase-position.png" alt="screenshot of purchase position questions">
      <p class="caption-text">These questions will cover how the buyer plans to fund their purchase</p>
    </div>
  </div>
  <h2>Viewing confimation</h2>
  <p>To make sure that your platform isn't flooded with bogus bookings, the buyer will need to confirm their email address before they can choose an appointment time.
    They will receive an email at this point- the link in the email will take them to the appointment time selection step.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/buyer/email-confirm.png" alt="screenshot of the 'awaiting email confirmation' page">
      <p class="caption-text">buyers can click the 'resend confirmation email' button if they can't find the email</p>
    </div>
  </div>
  <h2>Choosing an appointment time</h2>
  <p>After confirming their email address, the buyer will be asked to select a time slot for their viewing to take place.
    To find out more about how the appointment slots in this process are set, take a look at <a href="/guides/appointments">our appointments guide.</a></p>
  <p>As with all other appointments, viewings are confirmed instantly.</p>
</div>
