---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Setting an Agent's availability</h1>
  <p><em>we've got a lot to tell you about availability, so we've put together a whole guide on the topics of Availability and Appointments.
    You can find our <a href="/guides/appointments/">Availability and Appointments Guide here.</a></em></p>
  <p>To make sure your agents are available for bookings, you'll want to keep their availability updated from the availability tab of the 'Agents' section.
    On this page, you’ll see a grid of checkboxes.
    Simply click the boxes to identify when you will be available for bookings.</p>
  <p>You can check the boxes at the very top of the grid if you want to make yourself available for the entire day.</p>
  <p>Click the arrows at the top right corner of the grid to scroll across to later dates.</p>
  <p>Once you’ve finished setting your availability, be sure to hit save so you don’t lose what you’ve just entered!</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/setting-agent-availability.png" alt="Screenshot of setting availabliity">
      <p class="caption-text">click on the checkboxes to mark times as available</p>
    </div>
  </div>
</div>
