---
layout: default
title: Getting a Property to Market - Staff Site Guides | Learning Hub | Hystreet
description:
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Getting a Property to Market</h1>
  <p>To help you stay compliant, Hystreet has a few steps that you'll need to complete before the property will appear for your consumers.
    Follow this checklist to make sure your properties go on the market exactly when you expect them to:</p>
  <ul>
    <li><Strong>Complete an instruction payment -</strong> Here's our guide on <a href="/guides/staff-site/taking_instruction_and_payment/">taking instruction and payment</a>.</li>
    <li><Strong>Approve the fact find -</strong> Here's our guide on <a href="/guides/staff-site/completing_a_property_fact_find/">completing a property fact find</a>.</li>
    <li><Strong>Complete an ID check -</strong> Here's our guide on <a href="/guides/staff-site/completing_an_ID_check/">completing an ID check</a>.</li>
    <li><Strong>Approve the listing -</strong> Here's our guide on <a href="/guides/staff-site/sending_a_listing_to_a_seller_for_approval/"> sending a listing for approval</a>.</li>
  </ul>
  <p>Once you've ticked off each of these steps, the listing will be visible on the consumer facing end of your platform.
    Remember, if you want to put your listings on the portals as well, you will also need to click 'Publish' from the listing presentation page.
    We've got a guide on <a href="/guides/portal-setup/setting_up_your_portals/">Publishing to portals here</a>.</p>
</div>
