---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Writing a Property Description</h1>
  <p>The Listing details page is where you’ll edit the main text of the listing.
    At the top of the page there is a description field.
    Enter the main property description here- don’t worry, this field will expand as you type (there’s no character limit).</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/listing-description.PNG" alt="screenshot of listing description">
      <p class="caption-text">Enter the main text for the listing here</p>
    </div>
  </div>
  <p>Underneath the description, you’ll see a section for recording the sale status, Price qualifier and asking price.
    To the right of this you’ll see a set of fields for the property type and location.
    It may seem unnecessary to provide this information again, but this is to include the information on the listing.
    The first time you entered property details was to record the information on the database.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/sale-details.PNG" alt="screenshot of sale details fields">
      <p class="caption-text">This is where you add the details to the listing</p>
    </div>
  </div>
  <p>Underneath the property details section, you’ll see a field to add a key feature.
    Clicking ‘add key feature’ builds the list.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/key-features.PNG" alt="screenshot of key featues">
      <p class="caption-text">Add any key features here</p>
    </div>
  </div>
  <p><i>TIP: hit save regularly on this page to make sure nothing is lost if your laptop runs out of power or you lose internet connectivity.</i></p>
</div>
