---
layout: default
title: Staff Site Guides | Learning Hub | Hystreets
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Changing your Login Details</h1>
  <p>You can change your login details by clicking <strong>Admin > Staff > View</strong>.
    You can update your email address by updating the 'Email' field and hitting 'save'.
    Likewise, you can change your password by typing your new password in the 'Password' field and hitting 'save'.</p>
  <p>When you next log into the staff platform, you will need to use these new login details.</p>
</div>
