---
layout: default
title: Changing Your Login Details - Staff Site Guides | Learning Hub | Hystreets
description: You can change your login details by clicking Admin &gt; Staff  &gt; View
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Changing Your Login Details</h1>
  <p>You can change your login details by clicking <strong>Admin &gt; Staff  &gt; View</strong>.
    You can update your email address by updating the 'Email' field and hitting 'save'.
    Likewise, you can change your password by typing your new password in the 'Password' field and hitting 'save'.</p>
  <p>When you next log into the staff platform, you will need to use these new login details.</p>
</div>
