---
layout: default
title: Changing Your Login Details - Staff Site Guides | Learning Hub | Hystreets
description: You can change your login details by clicking Admin &gt; Staff  &gt; View
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Changing Your Login Details</h1>
  <p>You can change your login details by clicking <strong>Admin &gt; Staff  &gt; View</strong>.
    You can update your email address by updating the 'Email' field and hitting <strong>'save'</strong>.
    Likewise, you can change your password by typing your new password in the 'Password' field and hitting <strong>'save'</strong>.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/updating-login-details.png" alt="screenshot of staff user details">
      <p class="caption-text">be sure to hit 'save' after updating your login details</p>
    </div>
  </div>
  <p>When you next log into the staff platform, you will need to use these new login details.
    If you are an Admin user, you'll be able to update any user's login details this way as well.</p>
  <p>If you've forgotten your password, you can also reset your password from the 'login' page by clicking <strong>'I've forgotten my password'</strong>.
    This will send you a link to reset your password via email.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/password-reset-button.png" alt="screenshot of the password reset link">
      <p class="caption-text">use this link to reset your password when you can't log in</p>
    </div>
  </div>
</div>
