---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Adding photos To a Listing</h1>
  <p>From the listing section of a property, go to <strong>Photos</strong>.
    Click ‘add photo’ in the top left of the screen to add photos to the listing.
    On the following page you’ll see a field for the image title, a caption to go underneath the image, and a drop down to select which room is shown in the photo.
    You’ll need to add to rooms from the rooms section (see above) before rooms will show in this drop down.
    If the image isn’t of a particular room- the front of the property, for example- you can clear the room field by selecting ‘none’ in the drop down.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/photo-upload.PNG" alt="screenshot of photo upload">
      <p class="caption-text">This is how you upload photos and tie them to a room</p>
    </div>
  </div>
  <p>To upload an image, hit ‘Choose file’ and select the file you wish to upload.
    Once the file is uploaded, hit save to add the photo to the listing.</p>
  <p>The added photos will be shown on the listing in the order that they are listed on the staff site.
    The image at the top of the list will be the featured image on the listing.
    If you need to re-order the images, you can do so by clicking the arrows to the left of each item on the list.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/photos-list.PNG" alt="screenshot of photos list">
      <p class="caption-text">Click the arrows to reorder this list</p>
    </div>
  </div>
</div>
