---
layout: default
title: Getting Started Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Updating Your Branding</h1>
  <h2>Your Brand</h2>
  <p>We work with you to promote your brand, you’ll see some default placeholders with Hystreet on until you update your brand details.
    Just enter your ‘Brand Name’ as you’d like it to appear on the site and emails, then pop the URL for your main website into the ‘Brand URL’.
    (URL is the technical name for the address you use for your website such as www.estateagent.co.uk).</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/admin-settings-brand-name.png" alt="Screenshot of 'brand name' fields">
      <p class="caption-text">This is where you set your brand name</p>
    </div>
  </div>

  <h2>Your Logo</h2>
  <p>Wherever you see a logo on Hystreet you can use your own brand logo which you can set yourself and update whenever you need to.
    Any changes made here will be live from the moment you click ‘Save’, give it a go and check your customer website to see for yourself!</P>
  <p>Simply click ‘Choose File’ and find the logo file on your computer.
    If you don’t have this file to hand you can come back to this page and upload it at any time.</P>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/logo-favicon-upload.png" alt="screenshot of logo and favicon upload buttons">
      <p class="caption-text">This is where you set your logo and favicon</p>
    </div>
  </div>
  <p>The second image is for a Favicon, this is the little logo that shows on the tab on the top of your browser.
    If you are unsure on this or can’t find the file then have a chat to your web developer.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/favicon-example.png" alt="screenshot of Hystreet favicon">
      <p class="caption-text">Hystreet's favicon</p>
    </div>
  </div>

  <h2>Your Colours</h2>
  <p>It’s not just names and logos, you can also customise the main colours used.
    Mainly you’ll notice the change on buttons across the website but there are lots of subtle places where it’s used to make the site truly your own.</p>
  <p>For entering colours, we use the standard web system called Hex Colour Codes.
    It’s a bit like RGB which you might be more familiar with but using a different numbering system for each of the colours Red, Green and Blue.</p>
  <p>If you aren’t certain of your colour then check with your web site provider.
    If you are setting up a new brand then <a href="https://www.w3schools.com/colors/colors_picker.asp">follow this link for more information on picking your web colours.</a></p>
  <p>Once you have your colour codes, just enter them in (keeping the # symbol) and click ‘Save’ to see them on your site.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/hex-codes-example.png" alt="screenshot of example hexcodes">
      <p class="caption-text">Enter the hex codes for your colour scheme in these fields</p>
    </div>
  </div>
  <p>If you aren't too sure what your hex codes are, or if you'd like to play around with different colour schemes, you can pick a new colour from the colour wheel by clicking the icon next to the fields:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/colourpicker.png" alt="screenshot of colourpicker">
      <p class="caption-text">Enter the hex codes for your colour scheme in these fields</p>
    </div>
  </div>
</div>
