---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Data feed API v1</h1>

  <div data-alert class="alert-box warning large-text-center">
    This version is being deprecated. Please update to <a href="/guides/your-website/data-api/v2">version 2</a>
  </div>

  <p>The Hystreet data API is a way for 3rd party website developers to access the data within our system in their apps.
    The most common use of the API is to provide a listing of live properties on a marketing site.</p>
  <p><strong>Caveat: </strong>The API currently only supports properties’ listings. If you need any other data, please get in contact with our support team.</p>

  <h2>Getting started</h2>
  <h3>Authentication</h3>
  <p>In order to use our API you will need an authentication token. This can be obtained by speaking to our support team.
    Tokens need to be passed in as an <code>Authorization</code> request header, with the value as <code>Bearer &lt;authtoken&gt;</code></p>
  <p><Strong>For example:</strong></p>
  <p><code>curl -H &quot;Authorization: Bearer abc123&quot; https://demo.hystreet.co.uk/data-feed/v1/properties</code></p>
  <h3>Endpoints</h3>
  <p>The API URLs are relative to <code>https://&lt;your hystreet domain&gt;.hystreet.co.uk/data-feed/v1</code></p>
  <p><strong>For example:</strong></p>
  <p><code>https://demo.hystreet.co.uk/data-feed/v1/properties</code></p>
  <h3>Output</h3>
  <p>The output is in JSON format. We have strived to keep the format as similar as possible to the RTDF format, but that does not necessarily make it the same.</p>

  <h2>Properties</h2>
  <p><code>/properties</code> returns a list of your published properties.</p>
  <p><strong>Request example:</strong></p>
  <p><code>curl -H &quot;Authorization: Bearer abc123&quot; https://demo.hystreet.co.uk/data-feed/v1/properties</code></p>
  <p><strong>Response example:</strong></p>
    <pre><code class="language-javascript">{
      total: <span class="hljs-number">1</span>
      data: [
        {
          listing_id: <span class="hljs-string">'x9kG85Vh'</span>,
          property_type: <span class="hljs-string">'Detached House'</span>,
          sale_status: <span class="hljs-string">'Available'</span>,
          address: {
            house_name_number: <span class="hljs-string">'26 The Avenue'</span>,
            town: <span class="hljs-string">'Stoke Prior'</span>,
            county: <span class="hljs-string">'Worcestershire'</span>,
            postcode_1: <span class="hljs-string">'B60'</span>,
            postcode_2: <span class="hljs-string">'4AL'</span>,
            display_address: <span class="hljs-string">'Westonhall road, Stoke Prior'</span>,
            lat_lng: [<span class="hljs-string">'52.2951296'</span>, <span class="hljs-string">'-2.0818471'</span>]
          },
          price_information: { price: <span class="hljs-number">250000</span>, price_qualifier: <span class="hljs-string">'Asking price'</span> },
          details: {
            description: <span class="hljs-string">'Great property.'</span>,
            features: [<span class="hljs-string">'Central heating'</span>, <span class="hljs-string">'Solar panels'</span>, <span class="hljs-string">'Parking'</span>],
            bedrooms: <span class="hljs-number">2</span>,
            bathrooms: <span class="hljs-number">1</span>,
            reception_rooms: <span class="hljs-number">1</span>,
            rooms: [
              {
                name: <span class="hljs-string">'Main bedroom'</span>,
                dimension: <span class="hljs-string">"10' 0'' x 13' 0'' (3.05m x 3.96m)"</span>
              }
            ]
          },
          media: [
            {
              caption: <span class="hljs-string">'bedroom'</span>,
              media_type: <span class="hljs-string">'photo'</span>,
              media_url: <span class="hljs-string">'https://demo.hystreet.co.uk/property-images/oe7OGYDV'</span>
            }
          ]
        }
      ]
    };
    </code></pre>
  <p><br>
    Most data is populated as the client or the agent completes the property listing process.</p>
  <p>Images are found in the <code>media</code> section.</p>
  <p>Of the resulting values, there are some which are predefined. they are described in the following table:</p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Type</th>
        <th>Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>property_type</td>
        <td>Detached House, Terraced House, Semi-detached House, Link-detached House, Bungalow, Semi-detached Bungalow, Detached Bungalow, Terraced Bungalow, Cottage, Semi-detached Cottage, Detached Cottage, Terraced Cottage, Ground Floor Maisonette, First Floor Maisonette, Ground Floor Flat, Other Floor Flat, Top Floor or Penthouse, Barn Conversion, Studio/Apartment</td>
      </tr>
      <tr>
        <td>sale_status</td>
        <td>Withdrawn, Action Required, Proceeding</td>
      </tr>
      <tr>
        <td>price_qualifier</td>
        <td>None, Fixed price, Offers over, Offers in region of, Offers in excess of, Asking price, From, Guide price, Shared ownership, Price on application</td>
      </tr>
      <tr>
        <td>media_type</td>
        <td>photo, epc, floorplan</td>
      </tr>
    </tbody>
  </table>
</div>
