---
layout: default
title: Sending a Listing To a Seller for Approval - Staff Site Guides | Learning Hub | Hystreet
description: The first page of the listing section shows a summary of the listing
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Sending a Listing To a Seller for Approval</h1>
  <p>The first page of the listing section shows a summary of the listing.</p>
    On the first time viewing this page, there won’t be much to see, but it will fill out as the listing is put together.
  <p>The picture you will be able to see is the featured image- the image shown on the ‘browse properties’ page of the consumer site.
    To the right of the picture you’ll see the description you have written on the listing details section.
    Below the image, you’ll see an outline of the rooms included in the listing and the stated price.</p>
  <p>At the bottom of the page, there’s a set of booking links.
    Copy and paste these to clients (i.e. via email) to give them a direct route to book a viewing on the property.</p>
  <p>In the top right on the page, you’ll see two buttons: <strong>‘send for approval’</strong> and <strong>‘approve listing for seller’</strong>.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/send-for-approval-buttons.PNG" alt="screenshot of send for approval buttons">
      <p class="caption-text"> This is how you send a completed listing off for approval</p>
    </div>
  </div>
  <p>Once the listing has been fully composed, hit <strong>'send for approval'</strong> to notify the seller.
    They’ll then be able to look over the listing before it shows on the consumer site.
    If, for some reason, the seller isn’t able to approve it (if they don’t have access to a computer, for example) hit <strong>'approve listing for seller'</strong> to approve it from the staff site.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/listing-approved.PNG" alt="screenshot of listing approved notice">
      <p class="caption-text">You'll see this once the listing is approved</p>
    </div>
  </div>
  <p>Once it has been approved, you’ll see a message notifying you underneath the featured image.</p>
</div>
