---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
<h1>Instructing to Sell</h1>
  <p>From the account page, click “manage my sale”.
    This will lead you to a page showing all the steps involved in selling a property.</p>
  <p>Once an agent has been to the property and completed a valuation, the seller will be prompted to instruct the agent to start selling the property.
    They just need to click the button to make the instruction.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/instruct-to-sell-button.png" alt="screenshot of the instruct to sell button">
      <p class="caption-text">Sellers will also see your custom sales points here</p>
    </div>
  </div>
  <p>The following page will allow you to choose which addons to include in the instruction (prices for these can be set through the admin section).
    Check the box to accept the terms and conditions then hit continue at the bottom of the page.
    Next, you’ll see the fields to enter card details for paying for the instruction.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/consumer-payment.png" alt="screenshot of taking payment">
      <p class="caption-text">This is where payment details are recorded</p>
    </div>
  </div>
  <p><i>TIP: If you’re an agent doing a trial run of the consumer site, make sure you are using the test stripe keys and card details.
    Read our guide on <a href="/guides/setting-up-stripe">setting up Stripe</a> to find out how to do this.</i></p>
</div>
