---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Using the Staff Site from Different Devices</h1>
  <p>You can access The staff platform from your office computer, or when you are out and about from a mobile device.
    From a mobile view, the whole site navigation is squashed down into one ogranised dropdown menu.
    Click the three lines in the top right corner to reveal the navigation button.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/mobile-view.PNG" alt="screenshot of mobile view navigation">
      <p class="caption-text">The navigation is squashed down to save space on smaller screens</p>
    </div>
  </div>
  <p>You'll also notice that the property list, buyers list, and <em>any other</em> lists will be laid out slightly differently on mobile devices.
    This is just so that all the information can be displayed on smaller screens.
    In terms of the how the site works and where you'll find information, the site will behave in the same way.</p>
</div>
