<ul class="sidebar-nav">
{% for item in site.data.recents %} {% if item.children %}
<li class="side-parent" style="list-style: none;">
  <p style="margin-bottom: 3px;"><strong>{{ item.name }} </strong></p>
  <ul>
    {% for child in item.children %}
    <li class="side-child" style="list-style: none;">
      <a class="side-child-link" href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
    </li>
    {% endfor %}
  </ul>
</li>
{% else %}
<li class="side-parent" style="list-style: none;">
  {{ item.name }}
</li>
{% endif %} {% endfor %}
</ul>
