---
layout: default
title: Changing Your Password - Getting Started Guides | Learning Hub | Hystreet
description: If you ever need to update your password, you can do so from the 'Staff' section
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Changing Your Password</h1>
  <p>If you ever need to update your password, you can do so from the <strong>'Staff'</strong> section.
    Simply click <strong>'view'</strong> on your name and type your new password into the <strong>'password'</strong> field then hit save.</p>
  <p>If you are a user with <strong>'admin'</strong> permissions, you can follow this same process to update any staff member's password.</p>
  <p>If you have forgotten your password and can't log in, you follow the <strong>'forgot your password'</strong> link on the login page.
    You'll be asked to enter your email address, where you'll receive a link to go and reset your password.<p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/admin/forgot-password-login.png" alt="Screenshot of the 'forgot your password' link">
        <p class="caption-text">follow this link to reset your password via email link.</p>
      </div>
    </div>
</div>
