---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Meet Your Agent</h1>
  <p>When a seller enters their postcode, the Hystreet system will check the district against your agents' covered districts.</p>
  <p>If the entered postcode is covered by an agent, they’ll see a page introducing the agent.
    Your agent's bio and experience texts will also be displayed to tell your client a little bit about the agent looking after their sale.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/agent-intro.png" alt="screenshot of an agent's bio">
      <p class="caption-text">This text is fully customisable from the staff site</p>
    </div>
  </div>
  <p>If the entered postcode district doesn’t have an agent tied to it, the client will still see a message with your branch's contact number to arrange a valuation over the phone (just so you don't lose any potential instructions).</p>
</div>
