---
layout: default
title: Seller Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Using the Hystreet Platform as a Seller</h1>
  <p><em> Follow the links below for all of our guides on what your clients will experience when selling through your hystreet-powered service.
    This list will grow as we add new content to the learning hub, so if you've got an idea for a useful guide, let us know via <a href="/support">the support tab!</a></em></p>
  <div class="article-index-background">
    <div class="row">
      <div class="columns left large-6">
       {% include seller-guide/securing_instruction.html %}
       {% include seller-guide/viewings.html %}
      </div>
      <div class="columns right large-6">
       {% include seller-guide/getting_to_market.html %}
       {% include seller-guide/feedback_and_offers.html %}
      </div>
    </div>
  </div>
</div>
