---
layout: default
title: Getting Started Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Marking Agents as Active or Inactive</h1>
  <p>When viewing an agent from the 'Agents' section, you'll see a checkbox to mark the agent as active or inactive.
    Whilst that agent is working for your agency and not in any period of extended leave, you'll want them to be marked as <strong>'Active'.</strong>
    If the agent is no longer part of your team, or is on extended leave, they can be marked as <strong>'Inactive'.</strong></p>
  <p>Please note that the postcodes associated with that Agent will only be available to book valuations on if the Agent is marked as <strong>‘Active’.</strong>
    If an agent does need to be marked as inactive for an extended period (or indefinitely), be sure to move all of their covered postcode districts to another agent.</p>
  <p>If an agent will only be on leave for a short period, we recommend that you simply set them as having no availability for appointments.
    Don't worry, the system will still take the lead's contact information for a call back, and they will be presented with your branches number to call you.</p>
</div>
 
