---
layout: default
title: Data feed API - Website Integration Guides | Learning Hub | Hystreet
description: The Hystreet data API is a way for 3rd party website developers to access the data within our system in their apps
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Data feed API</h1>
  <p>The Hystreet data API is a way for 3rd party website developers to access the data within our system in their apps.
    The most common use of the API is to provide a listing of live properties on a marketing site.</p>

  <p>All new developments should use <a href="/guides/your-website/data-api/v2">version 2</a> of our API.
     It's very similar to the <a href="/guides/your-website/data-api/v1">legacy version</a>, but uses RM type
     definitions, which would mean it isn't backward compatible.</p>
</div>
