---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Appointments</h1>
  <p><em> Follow the links below for all of our guides on appointments.
    This list will grow as we add new content to the learning hub, so if you've got an idea for a useful guide, let us know via <a href="/support">the support tab!</a></em></p>
  <div class="article-index-background">
    <div class="row">
      <div class="columns left large-6">
       {% include appointments/setting-availability.html %}
       {% include appointments/consumer-site.html %}
       {% include appointments/appointment-types.html %}
      </div>
      <div class="columns right large-6">
       {% include appointments/staff-site.html %}
       {% include appointments/manage-viewings.html %}
      </div>
    </div>
  </div>
</div>
