---
layout: default
title: Responding to an offer - Staff Site Guides | Learning Hub | Hystreet
description: Once an offer has been submitted, you’ll see it from the property's 'offers' page
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Responding to an offer</h1>
  <p>Once an offer has been submitted, you’ll see it from the property's <strong>'Offers'</strong> page.
    you can access this page by going to <strong>Properties &gt; View (on the property) &gt; On The Market &gt; Offers</strong>.</p>
  <p>You can go back into the offer to update it by clicking view on it.
    You can update the state of the offer from open to accepted, rejected or withdrawn.</p>
  <p>If the buyer wants to withdraw their offer, there’s a field where they can leave a withdrawal statement.
    Likewise, there’s a field to include a seller’s written response when accepting or rejecting the statement.</p>
  <p>Any updates to the offer status will be displayed by showing a ribbon in the top right corner of the featured image on the consumer site.</p>
</div>
