---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How to cancel an appointment</h1>
  <p>To cancel an appointment from the staff site, go to <strong>properties > view (on the property) > appointments > view (on the appoint you want to cancel) > cancel.</strong></p>
  <p>On clicking cancel, a confirmation box will pop up to make sure that you are cancelling the appointment intentionally. </p>
  <p>Click ‘cancel appointment’ to cancel the appointment. Otherwise, click ‘close’ to go back to the appointment view screen.</p>
</div>
