---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
<h1>Managing viewings by both agent and seller</h1>
<p>The ‘viewings by: both agent and seller’ works by compiling the availabilities for both the agent and the seller tied to the property.</p>
<p>When a buyer books a viewing on the property from the consumer site, they will only be presented with time slots where both the agent and the seller are available.</p>
</div>
