---
layout: default
title: Uploading An EPC - Staff Site Guides | Learning Hub | Hystreet
description: Before you can upload an EPC (energy performance certificate) for the property, you’ll need to have started building the listing
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Uploading An EPC</h1>
  <p>Before you can upload an EPC (energy performance certificate) for the property, you’ll need to have started building the listing.
    To add an EPC to the listing, first save the EPC on your computer as you would with any other image, then go to the EPC page of the compliance section.
    From there, Just click ‘choose file’ and select the image you want to add.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/upload-epc.PNG" alt="screenshot of upload EPC button">
      <p class="caption-text">Upload an EPC here</p>
    </div>
  </div>
  <p>You won’t need to click save on this occasion- this will be saved automatically when the image is added.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/staff-epc.PNG" alt="screenshot of an uploaded EPC">
      <p class="caption-text">This is how EPCs are shown on the staff site</p>
    </div>
  </div>
</div>
