---
layout: default
title: Adding a Seller - Staff Site Guides | Learning Hub | Hystreet
description: You can add sellers to a property by going to the sellers page of the details section
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Adding a Seller</h1>
  <p>You can add sellers to a property by going to the Overview page of the Property & Sellers section.
    Multiple sellers can be added by clicking the ‘Add seller’ button on the top of the page.
    Doing so will bring up an empty seller details fields, where you can add the name, email address and contact number for the seller.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/adding-seller.PNG" alt="screenshot of adding a seller">
      <p class="caption-text">Record the seller's details here</p>
    </div>
  </div>
  <p>To make sure that sellers aren’t accidently duplicated, the system checks to make sure the emails are valid and have not already been recorded elsewhere.
    If clicking save doesn’t successfully add the seller, please check that the email has correctly been entered.</p>
</div>
