---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How to book a viewing </h1>
  <p>To book a viewing on a property that is on the market, go to <strong>properties > view (on the property) > appointments > viewing > add viewing.</strong></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/staff-book-viewing.PNG" alt="Screenshot of a the 'add viewing' button">
      <p class="caption-text">Click this to book a viewing</p>
    </div>
  </div>
  <p>Select the agent that is overseeing the viewing and the buyer that is viewing the property, then select the date and time for the appointment.</p>
  <p>When selecting a time for the appointment from the staff site, you will be shown which time slots are available or already booked, but you can book the appointment in any slot.</p>
</div>
