---
layout: default
title: Taking Instruction and Payment - Staff Site Guides | Learning Hub | Hystreet
description: The payments page shows a log of all the payments made relating to the property
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Taking Instruction and Payment</h1>
  <p>The payments page shows a log of all the payments made relating to the property.
    To take a new payment, hit ‘new payment’ in the corner.
    This will lead you to a page where you can set the fees for the payment and take the card details.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/staff-take-payment.PNG" alt="screenshot of payment">
      <p class="caption-text">you can take payment for instructions here</p>
    </div>
  </div>
  <p><i>TIP: if you’re running a test property through the system, make sure you are using the correct stripe keys.
    To learn more about doing test payments, see <a href="/guides/setting-up-stripe">our Stripe guide</a></i></p>
</div>
