---
layout: default
title: Completing An ID Check - Staff Site Guides | Learning Hub | Hystreet
description: ID checks can be started from both the staff and consumer site, and are completed using an Experian check service
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Completing An ID Check</h1>
  <p>ID checks can be started from both the staff and consumer site, and are completed using an Experian check service.
    To start an ID check from the consumer site, click ‘start ID check’ in the top left of the page.
    On the following page, you’ll see a space where all the IDs being checked will be listed.
    To add an ID, hit ‘add ID’.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <div class="columns large-6 text-center">
        <img src="/images/staff-site/start-id-check.PNG" alt="screenshot of start ID check button">
      </div>
      <div class="columns large-6 text-center">
        <img src="/images/staff-site/add-id-button.PNG" alt="screenshot of add new ID button">
      </div>
      <p class="caption-text">Use these buttons to start a new check and add IDs</p>
    </div>
  </div>
  <p>This will bring up the necessary fields for the check.
    You’ll also see a state field- in some cases, you might not need to run the check (i.e. if you have previously completed the check outside of the platform).
    In these cases, you can set the state field to ‘superceded’.
    Otherwise, you can leave the field blank for now.</p>
  <p>When the form has been filled out, hit save.
    You’ll be taken back to the list of IDs from the page before, where’ll you’ll see the ID state marked as ‘pending’.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/id-check-pending.PNG" alt="screenshot of ID check status">
      <p class="caption-text">The state of the ID check will be displayed like this</p>
    </div>
  </div>
  <p>To run the ID check, click view to go back into the ID page, then view again on the ID you are checking and click ‘run ID check’.
    The ID list will then show the updated state of the check.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/run-id-check-button.PNG" alt="screenshot of run ID check button">
      <p class="caption-text">Click this to run the check. The state will show the check results</p>
    </div>
  </div>
