---
layout: default
title: Completing An ID Check - Staff Site Guides | Learning Hub | Hystreet
description: ID checks can be started from both the staff and consumer site, and are completed using an Experian check service
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Completing An ID Check</h1>
  <p>ID checks can be started from both the staff and consumer site, and are completed using an Experian check service.
    To start an ID check from the staff site, go to <strong> Properties &amp; View (on the relevant property) &amp; Compliance &amp; ID </strong>.
    click ‘Add an ID check’ at the top of the page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/add-id-button.PNG" alt="screenshot of add ID check button">
      <p class="caption-text">Use this button to add a new ID check</p>
    </div>
  </div>
  <p>On the following page, you’ll see a space where all the IDs being checked will be listed.
    To add an ID, hit ‘add a person’.</p>
  <p>This will take you to a page to enter you seller's information required by Experian for the check.
    You'll also see a box to enter a 'state'.
    Use this box to manually set the ID state as 'approved' if you don't need to run an ID check through experian <em>(if you've already completed one in office, for example)</em>.</p>
  <p>When the form has been filled out, hit save.
    You’ll be taken back to the list of IDs from the page before, where’ll you’ll see the ID state marked as <strong>‘pending’</strong>.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/id-check-pending.PNG" alt="screenshot of ID check status">
      <p class="caption-text">The state of the ID check will be displayed like this</p>
    </div>
  </div>
  <p>To run the ID check, click view to go back into the ID page, and click <strong>‘run ID check’</strong>.
    The check will run intantly, and the ID list will then show the updated state of the check.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/run-id-check.PNG" alt="screenshot of run ID check button">
      <p class="caption-text">Click this to run the check. The state will show the check results</p>
    </div>
  </div>
