---
layout: default
title: Your Terms and Conditions - Getting Started Guides | Learning Hub | Hystreet
description: You'll be given a default 'terms and conditions' template when you first start using the Hystreet platform, but you'll want to read through it and correct it for your agency
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Your Terms and Conditions</h1>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/terms-conditions-link.PNG" alt="screenshot of T&amp;Cs link">
      <p class="caption-text">click here to update your T&amp;Cs</p>
    </div>
  </div>
  <p>You'll be given a default 'terms and conditions' template when you first start using the Hystreet platform, but you'll want to read through it and correct it for your agency.
    To update your terms and conditions, click on your initials in the top right corner and go to <strong>'Settings' &gt; 'Modify terms &amp; conditions'</strong>.</p>
  <p>On the page that loads, you'll see two columns.
    The left column is where you can edit the text and the right shows preview of how your terms and conditions will be displayed on the consumer site.</p>
  <p>Updating the text is simple enough; we use a system called 'Markdown'.
    It's basically like writing a normal text editor, but needs a bit of extra formatting to create headings, add links or make text bold.
    Check out this <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax">handy guide on using Markdown.</a></p>
  <p><em>TIP: For compliance, you <strong>must</strong> update your T&amp;Cs before you start handling real-life clients on the platform.</em></p>
</div>
