---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Viewing Feedback</h1>
  <p>After a viewing, the buyer will be sent reminders to leave feedback on the property.</p>
  <p>Feedback is gathered using a star rating system for Interior, Exterior, Location and Overall rating - how buyers leave this feedback is covered in our <a href="/guides/buyer/">Buyers' Guide</a>.
    When a buyer leaves feedback on their property the seller will receive an email notification with a direct link to see the feedback.</p>
  <p>Alternatively, sellers can find feedback by going to <strong>My account &gt; Manage my sale &gt; See feedback</strong>.</p>
  <p>This page will show a record of all feedback left on the property.
    Clicking on the feedback from this page will lead to a detailed view of the feedback, where the seller can see their rating for each aspect and any additional comments left by the buyer.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/feedback.png" alt="screenshot of feedback">
      <p class="caption-text">Feedback helps sellers improve the sellability of their property.</p>
    </div>
  </div>
</div>
