---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Accessing The 'Settings' Page</h1>
  <p>On the staff interface, <strong>click on your initials</strong> in the top right corner.
    This will bring up a drop-down list with the buttons to access the 'Settings', 'Branches', 'Agents' and 'Staff' pages.</p>
  <p>Click on the <strong>'Settings'</strong> button to access the 'Settings' page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/admin-nav.png" alt="Screenshot of the admin navigation drop-dropdown">
      <p class="caption-text">Access the admin pages using these buttons.</p>
    </div>
  </div>
</div>
