---
layout: default
title: Staff Site Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Main Navigation</h1>
  <p>On signing in, you’ll be taken straight to the dashboard page.
    Use the bar at the top of the page to navigate around the site.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/staff-navigation.PNG" alt="screenshot of staff navigation">
      <p class="caption-text">Use these buttons to move around the staff site</p>
    </div>
  </div>
  <p>You'll see buttons to move to the 'Dashboard', 'Properties', 'Buyers', and 'Diary' pages.
    In the top right corner, you'll see a dropdown menu labelled 'Admin'.
    Clicking on this will give you buttons to access the 'Settings', 'Branches', 'Agents' and 'Staff' pages.
    At the bottom of that list, you'll also see the logout button.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/admin-dropdown.PNG" alt="screenshot of admin dopdown">
      <p class="caption-text">Use these buttons to move between the admin sections, or log out</p>
    </div>
  </div>
</div>
