---
layout: default
title: Seller Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
 <h1>Listing Approval</h1>
  <p>While the seller is completing the other steps on their 'Getting to Market' checklist, the agent can start putting together the property listing.</p>
  <p><em>TIP: We've covered how to build the property listing on our <a href="/guides/staff-site/">Staff Site Guide.</a></em></p>
  <p>Once the listing is is ready, the agent can send it over to the seller for approval.
    When the seller next looks to their 'Getting to Market' checklist, they will see a button to view and approve their listing:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/view-approve-listing.png" alt="screenshot of 'view and approve' button">
      <p class="caption-text">This button leads to a preview page of the listing</p>
    </div>
  </div>
  <p>This will be the seller's opportunity to read through the listing and request any changes before the property goes on the market.
    When the seller is happy with the listing, they can click the 'approve' button on that page.
    Providing all other 'Getting to Market' steps are complete, the listing will appear on the 'Browse Properties' page of your Hystreet platform instantly.</p>
  <p><em>TIP: the listing will appear on your Hystreet platform when it is approved, but you'll also want to publish the listing to portals from the 'Presentation' page of the staff site.</em></p>
</div>
