---
layout: default
title: Getting Started Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
<h1>Branch Information</h1>
<p>There are quite a few fields when viewing a branch in the 'Branches' section so we’re going to list them one by one for you.
  The details you enter here will be used both on the website and in emails so it’s important to get them right.</P>
<ul>
  <li> <strong>Branch Name:</strong> Enter the name of your branch, if you have just the one branch then feel free to use your main company name. </li>
  <li> <strong>Branch address:</strong> Enter the full address for the branch you are setting up, it’s important to use the full address as this will also appear on the Memorandum of Sale. </li>
  <li> <strong>Branch phone:</strong> Enter the number for the branch that you’d like the customer to call you on if they have any issues. You can format this as you would like it to show just by putting spaces in the number. </li>
  <li> <strong>Branch registration number:</strong> This is your Companies House registration number, this is displayed on the footer of emails for you.
  <li> <strong>No-reply email:</strong> Emails sent from the system will show this as the reply address, so if your customer clicks reply on any of your emails they can be delivered back to you. To make sure your emails are successfully delivered and don’t go into Junk or Spam folders we’ll always set the From address to a Hystreet email address. </li>
  <li> <strong>BCC email:</strong> You can designate an email address to receive a copy of all emails sent out by the system. This isn’t compulsory but can be particularly useful if you have a branch or team mailbox so that everyone is actively notified of any updates on a property sale. </li>
</ul>
</div>
