---
layout: default
title: Updating a Seller's contact preferences - Staff Site Guides | Learning Hub | Hystreet
description: Once you have added a seller, You'll be able to record their contact preferences by clicking 'view' next to their name on the seller details page of their property
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Updating a Seller's contact preferences</h1>
  <p>Once you have added a seller, You'll be able to record their contact preferences by clicking 'view' next to their name on the seller details page of their property.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/contact-preferences.PNG" alt="screenshot of contact consents">
      <p class="caption-text">Record when the client wishes to be contacted here</p>
    </div>
  </div>
  <p>After updating your client's contact preferences, be sure to hit 'save user consent' to store the changes.</p>
</div>
