---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
<div class="columns right large-9 lh-content">
  <h1>How to set a seller's availability</h1>
  <p>If a seller is managing their own viewings, they will need to set their availability to make sure that buyers can book viewings from the consumer site. As an agent, you can set your seller's availability for them from the staff side. </p>
  <p>To do this, go to <strong>Properties > view (on the seller’s property) > Appointments > Availability.</strong> From there, you’ll see a grid of checkboxes. Simply click the boxes to identify when the seller will be available for bookings.</p>
  <p>You can check the boxes at the very top of the grid to mark the seller as being available for the entire day.</p>
  <p>Click the arrows at the top right corner of the grid to scroll across to later dates.</p>
  <p>Once you’ve finished setting your availability, be sure to hit save so you don’t lose what you’ve just entered!</p>
</div>
