---
layout: default
title: How to set a seller's availability - Appointments Guides | Learning Hub | Hystreet
description: If a seller is managing their own viewings, they will need to set their availability to make sure that buyers can book viewings from the consumer site
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How to set a seller's availability</h1>
  <p>If a seller is managing their own viewings, they will need to set their availability to make sure that buyers can book viewings from the consumer site.
    As an agent, you can set your seller's availability for them from the staff side. </p>
  <p>To do this, go to <strong>Properties &gt; View (on the seller’s property) &gt; On The Market &gt; Seller availability.</strong>
    From there, you’ll see a grid of checkboxes.
    Simply click the boxes to identify when the seller will be available for bookings.</p>
  <p>You can check the boxes at the very top of the grid to mark the seller as being available for the entire day.</p>
  <p>Click the arrows at the top right corner of the grid to scroll across to later dates.</p>
  <p>Once you’ve finished setting your availability, be sure to hit save so you don’t lose what you’ve just entered!</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/appointments-availability.PNG" alt="Screenshot of setting availabliity">
      <p class="caption-text">click on the checkboxes to mark times as available</p>
    </div>
  </div>
</div>
