---
layout: default
title: Using Voucher Codes - Getting Started Guides | Learning Hub | Hystreet
description:
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Using Voucher Codes</h1>
  <p>Many agents like to add voucher codes to their marketing materials to attract new sellers.
    If this is something you'd like to do, get in touch using the <strong>support tab</strong>.</p>
  <p>We will happily go behind the scenes and set up a voucher code for you.
    All you need to do is tell us the following bits of information:</p>
  <ul>
    <li><strong>Your desired code-</strong> <em>for example, if you want offer a £200 discount on your intructions through the summer, your code could be 'SUMMER200'.</em></li>
    <li><strong>Your discount value-</strong> <em>how much do you want to reduce your normal price by?</em></li>
    <li><strong>Voucher end date-</strong> <em>When do you want to run this special offer until?</em></li>
  </ul>
  <p>Once your voucher codes are set up, all you need to do is put them on your marketing materials (be that on flyers, newspaper articles, tv ads, or anywhere else) and start promoting your service.</p>

  <p>It's also worth noting we can add as many vouchers as you like.
    You could have a different voucher code for every marketing campaign you run, and see which returns the most interest.</p>
</div>
