---
layout: default
title: Adding Service Features - Getting Started Guides | Learning Hub | Hystreet
description: Once you have sent a valuation report, the next step would be for your clients to instruct and pay you
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Adding Service Features</h1>
  <p>Once you have sent a valuation report, the next step would be for your clients to instruct and pay you.
  <p>As a reminder of the service your clients will be paying for, they will see a list of all of your service features before paying:</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/admin/service-features-consumer.png" alt="screenshot of service features">
        <p class="caption-text">Let you're clients know what they are paying for here</p>
      </div>
    </div>
  <p>This list is fully customisable.
    You can add and remove points from the <strong>'settings'</strong> page of the admin section.</p>
  <p>Hit the <Strong>'Remove'</strong> button to take a feature off the list, or add new features at the bottom of the page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/service-features-staff.png" alt="screenshot of service features">
      <p class="caption-text">edit these features from the settings pageß</p>
    </div>
  </div>
</div>
