---
layout: default
title: Getting Started Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Using Intercom</h1>
  <p>Intercom is a 3rd party system that allows you to have a live-chat function on your Hystreet platform.
    If you're set up with Intercom you'll see a button on your platform that looks something like this:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/intercom-button.png" alt="screenshot of intercom button">
      <p class="caption-text">your clients will click here to start message you instantly</p>
    </div>
  </div>
  <p>If this is something that would like to include in your online service, you can <a href="https://www.intercom.com">register for intercom here.</a>
    As part of your intercom registration, you be given an App ID to enter on the Admin settings page.</p>
  <p>You can also find Intercom's guide for finding your <a href="https://www.intercom.com/help/faqs-and-troubleshooting/getting-set-up/where-can-i-find-my-workspace-id-app-id">App ID here.</a></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/intercom-setup-field.png" alt="screenshot of intercom setup field">
      <p class="caption-text">Enter your intercom credentials here to use the chat system</p>
    </div>
  </div>
  <p>If you need more assistance with this feature at any time then get in touch with your Customer Success Manager who will be able to help you out.</p>
</div>
