---
layout: default
title: Buyer guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Amending or cancelling a viewing</h1>
  <p>Once a buyer has booked a viewing on a property, they will be able to review the appointment by going to <strong>account &gt; appointments</strong> then clicking on the viewing.
    This will take them to the booking confirmation page.</p>
  <p>At the bottom of the booking confirmation, they will see two links: <strong>Amend appointment</strong> and <strong>Cancel appointment</strong>.</p>
  <p>If the buyer amends their appointment, they will see the appointment timetable, where they will be able to pick a new appointment time.
    If the buyer wishes to cancel their appointment, they will need to confirm they understand it may be difficult to re-book before the cancelation is finalised.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/buyer/viewing-cancel.png" alt="screenshot of a viewing being cancelled">
      <p class="caption-text">buyers will need to check the box to confirm before they can cancel the appointment</p>
    </div>
  </div>
</div>
