---
layout: default
title: Completing a Property Fact find - Staff Site Guides | Learning Hub | Hystreet
description: Before a listing can be made live, you’ll need to complete a Property Fact Find
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Completing a Property Fact Find</h1>
  <p>Before a listing can be made live, you’ll need to complete a Property Fact Find.
    You'll find the property Fact Find in the <strong>'Fact Find'</strong> page of the compliance section.</p>
  <p>In most cases, the seller will complete the form from the consumer site- you’ll just need to review it.
    If you’re happy to accept the Fact Find, set the <strong>‘Fact Find review status’</strong> field at the top of the page to <strong>‘approved’</strong> then click save.
    Otherwise, you can set the field to <strong>‘requires action’</strong>, so your seller can make the required changes.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/factfind-review-status.PNG" alt="screenshot of fact find review status">
      <p class="caption-text">Approve the Fact Find here</p>
    </div>
  </div>
  <p>If you are completing the Fact Find yourself, on behalf of the vendor, just fill out the form as necessary then click save at the top of the page.</p>
  <p><i>Tip: the review status must be set to approved before the listing will show on the consumer site.
    The ‘completed’ status suggests that the form has been filled out, but still requires an agent to review it.</i></p>
</div>
