---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---
<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div>
<h2 style="padding-top:100px;" id="portal-setup-1">Profiles</h2>
<p>Your portal provider will have set you up with a profile for your branch, this may be a profile for Sales, or one for Lettings.
  If you offer both Sales and Lettings then they will have set you up with a profile for each of those.</p>
<p>The portals can only take one ‘feed’ per profile, this means that you can’t have two CRM providers publishing properties into one profile.</p>
<p>Essentially, you will need to arrange a new profile to publish your listings to the portals from your Hystreet platform.</p>
</div>
