---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---
<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
<h1>Profiles</h1>
<p>Your 'profile' is how your agency and its listings are displayed on the Portals.
  Your portal provider will have set you up with a profile for your branch.
  This may be a profile for Sales, or one for Lettings.
  If you offer both Sales and Lettings then they will have set you up with two profiles (one for each).</p>
<p>Your CRM will publish listing data to your profiles using 'feeds'.
  The portals can only take one ‘feed’ per profile, this means that you can’t have two CRM providers publishing properties into one profile.</p>
<p>Essentially, If you already have a profile for your traditional sales and want to use Hystreet as an online service to supplement this, you will need to request a second sales profile.</p>
</div>
