---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How sellers book a valuation</h1>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/book-a-valuation.PNG" alt="Screenshot of a the 'book valuation' button">
      <p class="caption-text">Enter a postcode and click here to book a valuation</p>
    </div>
  </div>
  <p>Sellers can book a valuation from the consumer site by entering their postcode on the home page and clicking ‘book your free valuation’. Please note, you will need an active agent covering their post code area.</p>
  <p>Providing that there is an agent covering the agent, the seller will be asked to select their address from a dropdown menu, then provide valuation details.</p>
  <p>Once all the valuation details have been entered, the seller will be presented with a table of all available time slots to pick their valuation time from. </p>
  <p>Clicking ‘yep, that works for me’ will take them to the appointment confirmation page.</p>
</div>
