---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Setting Up Your First Agent</h1>
  <p>Initially under the ‘Agent’ button in your Admin area you’ll just see a box saying ‘No Agents’, later on this will show a list of any Agents you have configured.</P>
  <p><em>TIP: This section sets up an Agent, if you need them to access the staff site you’ll need to add a <a href="/guides/getting-started-with-hystreet/adding_a_new_staff_account/">Staff Login</a> as well.</em></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/no-agents-box.png" alt="screenshot of empty agents list">
      <p class="caption-text">your agents list will look like this before you add agents</p>
    </div>
  </div>
  <p>Either click the ‘Add Agent’ button to add an Agent or to edit an existing Agent simply click the ‘View’ button next to the Agent you want to update.
    You’ll see the same fields for both.</p>

  <h2>Agent Details</h2>
  <p>The first page is where you enter the details for the agent.</p>
  <strong>Active Checkbox </strong><br>
  <p>You can change the active status of an Agent at any time, simply check or uncheck this box and click ‘Save’.
    Please note that the postcodes associated with that Agent will only be available to book valuations on if the Agent is marked as ‘Active’.</p>
  <strong> Contact Details </strong><br>
  <p>You can enter (or update) the following contact details for the Agent to be used on the website and in emails:</p>
  <ul>
    <li>Agent Forename</li>
    <li>Agent Surname</li>
    <li>Contact Number</li>
    <li>Email Address</li>
  </ul>
  <strong>Bio &amp; Experience</strong><br>
  <p>Here you should enter a little bit about the agent to help your customers get to know them.
    This is used on the introduction page as part of booking a valuation.
    Here you can see the fields side by side:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <div class="columns large-6 text-center">
        <img src="/images/admin/agent-details-compare-1.png" alt="screenshot of agent details on the staff site">
      </div>
      <div class="columns large-6 text-center">
        <img src="/images/admin/agent-details-compare-2.png" alt="screenshot of agent details on the consumer site">
      </div>
      <p class="caption-text">This is how your details will be displayed for your clients</p>
    </div>
  </div>
  <strong>Branch</strong><br>
  <p>Select the Agent’s corresponding branch from the dropdown here.
    If you can’t see the right branch then check you have correctly entered your <a href="/guides/getting-started-with-hystreet/branch_information/">branch information.</a></p>

  <h2>The Agent’s Photo</h2>
  <p>To give that truly personal feel to customer’s using your website, you can upload a photo of the Agent on this page.
    It isn’t mandatory to upload a photo but we strongly recommend that you upload a photo for each of your agents as we’ve found this works really well for both vendors and buyers.</p>
  <p>If you can’t see the option to upload a photo then you may not have saved your new Agent yet.
    Click the ‘Save’ button and the option will appear.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/agent-image-upload-button.png" alt="screenshot of the agent image upload button">
      <p class="caption-text">Upload an agent's photo here</p>
    </div>
  </div>
</div>
