---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Booking A Valuation</h1>
  <p>Your clients will most likely reach your Hystreet platform by clicking the 'book a valuation' button on your company's website.</p>
    <p><em>TIP: If you still need to set your website buttons up, it might be worth taking a look at our <a href="/guides/your-website/">Website Integration guide.</a></em></p>
  <p>If set up correctly, your web button should lead your clients to a page where they will see a map of your local area of operation and a field to enter their postcode.<p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/book-a-valuation.png" alt="screenshot of postcode field">
      <p class="caption-text">Sellers coming from your website will enter their postcode here</p>
    </div>
  </div>
  <p>If you have directed your clients straight to your hystreet consumer site, they will be able to book a valuation entering their postcode and clicking the button that says: “book your free valuation” in the centre of the page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/book-a-valuation-landing.PNG" alt="screenshot of postcode field on the landing page">
      <p class="caption-text">Sellers coming straight to your hystreet platform can enter their postcode in this box</p>
    </div>
  </div>
</div>
