---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
<div class="columns right large-9 lh-content">

    <h1> The Staff Site </h1>

  <div> <p>On this page, you'll find a rundown of the main functionality of the staff site:</p>
    <ol>
      <li> <a href="#staff-site-part-1"> Main Navigation </a> </li>
      <li> <a href="#staff-site-part-2"> The Dashboard and The Diary </a> </li>
      <li> <a href="#staff-site-part-3"> The Properties List </a> </li>
      <li> <a href="#staff-site-part-4"> Details Section </a> </li>
      <li> <a href="#staff-site-part-5"> Listing Section </a> </li>
      <li> <a href="#staff-site-part-6"> Compliance Section </a> </li>
      <li> <a href="#staff-site-part-7"> Appointments Section </a> </li>
      <li> <a href="#staff-site-part-8"> Offers Section </a> </li>
      <li> <a href="#staff-site-part-9"> The Buyers List </a> </li>
    </ol>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-1"> Main Navigation </h2>
    <p>On signing in, you’ll be taken straight to the dashboard page.
      Use the bars at the top of the page to navigate around the site.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/staff-navigation.PNG" alt="screenshot of staff navigation">
        <p class="caption-text">Use these buttons to move around the staff site</p>
      </div>
    </div>
    <p>The two buttons on the top bar say ‘admin’ and ‘logout’.
      They take you to the admin section and log you out of the staff site, respectively. <a href="/guides/getting-started-with-hystreet/">The admin section is covered here.</a>
      On the second row, you’ll see the links to the ‘<a href="#staff-site-part-2">dashboard</a>’, ‘<a href="#staff-site-part-3">properties</a>’, ‘<a href="#staff-site-part-9">buyers</a>’ and ‘<a href="#staff-site-part-2">diary</a>’ sections.</p>
    <p>When viewing a property (we’ll get to that shortly) you’ll see another bar appear, with links to ‘<a href="#staff-site-part-4">details</a>’, ‘<a href="#staff-site-part-5">listing</a>’, ‘<a href="#staff-site-part-6">compliance</a>’, ‘<a href="#staff-site-part-7">appointments</a>’ and ‘<a href="#staff-site-part-8">offers</a>’.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/property-nav.PNG" alt="screenshot of property navigation">
        <p class="caption-text">Use these buttons to move between the property sections</p>
      </div>
    </div>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-2"> The Dashboard and The Diary </h2>
    <p>The dashboard page is the first page you will see upon logging in to the staff site.
      Here, you’ll see a list of the day’s appointments, each with a ‘view’ button that will direct you to the details page for that appointment.
      For more on these details pages, see <a href="#staff-site-part-7">the appointments section.</a></p>
    <p>The diary page shows all a table of your upcoming appointments.
      The columns (from left to right) show the type of appointment, the property address for the appointment, the start time, the end time, the agent handling the appointment, and a link to view the appointment details.</p>
    <p>At the top of the page, you’ll see a drop-down list that allows you to filter this table for a specific agent.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/diary-agent-select.PNG" alt="screenshot of agent dropdown">
        <p class="caption-text">Select which Agent's diary to view here</p>
      </div>
    </div>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-3"> The Properties List </h2>
    <p>In the properties section, you’ll see a table with all properties added through both the staff and consumer site.
      The left column shows the seller’s name and the centre shows the property address.
      To the right of each entry on the table you’ll see ‘view’ button.
      This will take you into the details section for that property.</p>
    <p>If this list of properties exceeds ten entries, it will be split up into multiple pages.
      you’ll see page numbers underneath the list to move between the pages.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/pagination.PNG" alt="screenshot of pagination">
        <p class="caption-text">Use this bar to view the next page of properties</p>
      </div>
    </div>
    <p>Above and to the right of the list, there’s an ‘add property’ button.
      Clicking this takes you to a page to fill out the new property's address and select the branch and agent tied to the property.
      Fill out these details then click ‘save’ to add the property to the property list.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/add-property-button.PNG" alt="screenshot of add property button">
        <p class="caption-text">Click this button to add a new property</p>
      </div>
    </div>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-4"> Details Section </h2>
    <p>Above the main body of the page, you’ll see a set of tabs. Use these to move between the subsections of the details section.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/details-subsections.PNG" alt="sceenshot of details navigation">
        <p class="caption-text">Use these to move between the subsections of the details page</p>
      </div>
    </div>
    <h3> Valuation Details </h3>
    <p>You’ll immediately be brought here when you click view on a property in the property list.
      This page shows all the information from when the property was added.
      You’ll also see the fields for recording any information gathered at the valuation appointment.
      These fields look like this:</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/staff-valuation-details.PNG" alt="screenshot of the valuation details page">
        <p class="caption-text">Valuation details can be recorded here</p>
      </div>
    </div>
    <h3> Seller Details </h3>
    <p>You can tie sellers to the added property here.
      Multiple sellers can be added by clicking the ‘add seller’ button on the top right of the page.
      Doing so will bring up an empty seller details field, where you can add the name, email address and contact number for the seller.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/adding-seller.PNG" alt="screenshot of adding a seller">
        <p class="caption-text">Record the seller's details here</p>
      </div>
    </div>
    <p>To make sure that sellers aren’t accidently duplicated, the system checks to make sure the emails are valid and have not already been recorded elsewhere.
      If clicking save doesn’t successfully add the seller, please check that the email has correctly been entered.</p>
    <h3> Valuation Reports </h3>
    <p>Once an agent has completed a valuation on the property.
      The highest, lowest, and recommended values are recorded here.
      Once the fields have been filled and saved, hit send report.
      This will send the values over to the consumer site, so the buyer can then make a decision on instructing the agent to sell their home.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/staff-valuation-report.PNG" alt="screenshot of valuation report">
        <p class="caption-text">These values are entered here will be sent the seller</p>
      </div>
    </div>
    <h3> Taking payment </h3>
    <p>The payments page shows a log of all the payments made relating to the property.
      To take a new payment, hit ‘new payment’ in the corner.
      This will lead you to a page where you can set the fees for the payment and take the card details.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/staff-take-payment.PNG" alt="screenshot of payment">
        <p class="caption-text">you can take payment for instructions here</p>
      </div>
    </div>
    <p><i> TIP: if you’re running a test property through the system, make sure you are using the correct stripe keys.
      To learn more about doing test payments, see <a href="/guides/setting-up-stripe">our Stripe guide</a></i></p>
    <h3> The Manage Tab </h3>
    <p>The Manage section is where you can update the branch and agent tied to the property and record any sale board or access requirements.</p>
    <p>The 'viewings by' field is where you can set which availability is shown on the consumer site.
      Set this to seller if the seller is handling their own viewings, agent if the agent is handling the viewings, or both if the seller is handling the viewings with the accompaniment of an agent.</p>
    <p>At the bottom of the form there’s a ‘withdrawn’ checkbox.
      Check this if you no longer want the listing to appear on the consumer site.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/manage-tab.PNG" alt="screenshot of manage tab">
        <p class="caption-text">This is were you can manage a property's individual settings </p>
      </div>
    </div>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-5"> Listing Section </h2>
    <p>When you first visit this area of the platform, you'll see a 'create listing' button. Click this when you want to start putting together a listing for the property</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/create-listing-button.PNG" alt="screenshot of create listing button">
        <p class="caption-text">Click this to start building a listing</p>
      </div>
    </div>
    <p>above the main body of the page, you’ll see a set of tabs. Use these to move between the subsections of the listing section.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/listing-subsections.PNG" alt="screenshot of listing navigation">
        <p class="caption-text">Use these buttons to move around the listing section</p>
      </div>
    </div>
    <h3> Presentation </h3>
    <p>This page shows a summary of the listing.</p>
      On the first time viewing this page, there won’t be much to see, but it will be filled out as the listing is put together.
    <p>The picture you will be able to see is the featured image- the image shown on the ‘browse properties’ page of the consumer site.
      To the right of the picture you’ll see the description you have written on the listing details section.
      Below the image, you’ll see an outline of the rooms included in the listing and the stated price.</p>
    <p>At the bottom of the page, there’s a set of booking links.
      Copy and paste these to clients (i.e. via email) to give them a direct route to book a viewing on the property.</p>
    <p>In the top right on the page, you’ll see two buttons: ‘send for approval’ and ‘approve listing for seller’.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/send-for-approval-buttons.PNG" alt="screenshot of send for aproval buttons">
        <p class="caption-text"> This is how you send a completed listing off for approval</p>
      </div>
    </div>
    <p>Once the listing has been fully composed, hit send for approval to notify the seller.
      They’ll then be able to look over the listing before it shows on the consumer site.
      If, for some reason, the seller isn’t able to approve it (if they don’t have access to a computer, for example) hit approve listing for seller to approve it from the staff site.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/listing-approved.PNG" alt="screenshot of listing approved notice">
        <p class="caption-text">You'll see this once the listing is approved</p>
      </div>
    </div>
    <p>Once it has been approved, you’ll see a message notifying you underneath the featured image.</p>
    <h3> Details </h3>
    <p>The Listing details page is where you’ll edit the main text of the listing.
      At the top of the page there is a description field.
      Enter the main property description here- don’t worry, this field will expand as you type (there’s no character limit).</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/listing-description.PNG" alt="screenshot of listing description">
        <p class="caption-text">Enter the main text for the listing here</p>
      </div>
    </div>
    <p>Underneath the description, you’ll see a section for recording the sale status, Price qualifier and asking price.
      To the right of this you’ll see a set of fields for the property type and location.
      It may seem unnecessary to provide this information again, but this is to include the information on the listing.
      The first time you entered property details was to record the information on the database.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/sale-details.PNG" alt="screenshot of sale details fields">
        <p class="caption-text">This is where you add the details to the listing</p>
      </div>
    </div>
    <p>Underneath the property details section, you’ll see a field to add a key feature.
      Clicking ‘add key feature’ builds the list.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/key-features.PNG" alt="screenshot of key featues">
        <p class="caption-text">Add any key features here</p>
      </div>
    </div>
    <p><i> TIP: hit save regularly on this page to make sure nothing is lost if your laptop runs out of power or you lose internet connectivity. </i></p>
    <h3> Rooms </h3>
    <p>A list of all rooms added here will be visible on the listing page on the consumer site.
      To add a room, click the ‘add room’ button at the top of the page.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/add-room.PNG" alt="screenshot of room details fields">
        <p class="caption-text">Provide details for the room here</p>
      </div>
    </div>
    <p>On the next page, you’ll see four fields.
      Anything put into the first two fields will be shown on the consumer site.
      The ‘room type’ drop down will determine which logo shows next to the room name and dimensions on the consumer listing.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/room-list-consumer.PNG" alt="screenshot of rooms on consumer site">
        <p class="caption-text">This is how any rooms added will be displayed</p>
      </div>
    </div>
    <p>Any text entered the ‘description’ field is included on the published listing on portal sites.</p>
    <h3> Photos </h3>
    <p>Click ‘add photo’ in the top left of the screen to add photos to the listing.
      On the following page you’ll see a field for the image title, a caption to go underneath the image, and a drop down to select which room is shown in the photo.
      You’ll need to add to rooms from the rooms section (see above) before rooms will show in this drop down.
      If the image isn’t of a particular room- the front of the property, for example- you can clear the room field by selecting ‘none’ in the drop down.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/photo-upload.PNG" alt="screenshot of photo upload">
        <p class="caption-text">This is how you upload photos and tie them to a room</p>
      </div>
    </div>
    <p>To upload an image, hit ‘Choose file’ and select the file you wish to upload.
      Once the file is uploaded, hit save to add the photo to the listing.</p>
    <p>The added photos will be shown on the listing in the order that they are listed on the staff site.
      The image at the top of the list will be the featured image on the listing.
      If you need to re-order the images, you can do so by clicking the arrows to the left of each item on the list.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/photos-list.PNG" alt="screenshot of photos list">
        <p class="caption-text">Click the arrows to reorder this list</p>
      </div>
    </div>
    <h3> Floorplans </h3>
    <p>To add floorplans to the listing, go here and click ‘new floorplan’.
      The first field that shows up is for the floor name.
      This will be displayed on the ‘floorplans’ section of the consumer site listing.
      Once you’ve named the floor, hit save.
      After the floor name has been saved you’ll be able to upload a corresponding floorplan by clicking ‘choose file’ and selecting the desired file.
      Once it has been uploaded hit save again.</p>
      <div class="text-center mb-30">
        <div class="image-caption">
          <img src="/images/floorplan-upload.PNG" alt="screenshot of floorplan upload">
          <p class="caption-text">Upload floorplans here</p>
        </div>
      </div>
    <p>As with photos, floorplans will be shown in the order that they are listed on the staff site.
      Use the arrows to the left of each item to change the order in which they are displayed.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/floorplan-list.PNG" alt="screenshot of floorplans list">
        <p class="caption-text">Reorder the floorplans here</p>
      </div>
    </div>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-6"> Compliance Section </h2>
    <h3> Fact Find </h3>
    <p>Before a listing can be made live, you’ll need to complete a property fact find.
      If the vendor has completed this form from the consumer site, you’ll just need to review it.
      If you’re happy to accept the fact find, set the ‘fact find review status’ field at the top of the page to ‘approved’ then click save.
      Otherwise, you can set the field to ‘requires action’.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/factfind-review-status.PNG" alt="screenshot of factfind review status">
        <p class="caption-text">Approve the factfind here</p>
      </div>
    </div>
    <p>If you are completing the fact find yourself, on behalf of the vendor, just fill out the form as necessary then click save at the top of the page.</p>
    <p><i> Tip: the review status must be set to approved before the listing will show on the consumer site.
      The ‘completed’ status suggests that the form has been filled out, but still requires an agent to review it. </i></p>
    <h3> ID </h3>
    <p>ID checks can be started from both the staff and consumer site, and are completed using an Experian check service.
      To start an ID check from the consumer site, click ‘start ID check’ in the top left of the page.
      On the following page, you’ll see a space where all the IDs being checked will be listed.
      To add an ID, hit ‘add ID’.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <div class="columns large-6 text-center">
          <img src="/images/start-id-check.PNG" alt="screenshot of start ID check button">
        </div>
        <div class="columns large-6 text-center">
          <img src="/images/add-id-button.PNG" alt="screenshot of add new ID button">
        </div>
        <p class="caption-text">Use these buttons to start a new check and add IDs</p>
      </div>
    </div>


    <p>This will bring up the necessary fields for the check.
      You’ll also see a state field- in some cases, you might not need to run the check (i.e. if you have previously completed the check outside of the platform).
      In these cases, you can set the state field to ‘superceded’.
      Otherwise, you can leave the field blank for now.</p>
    <p>When the form has been filled out, hit save.
      You’ll be taken back to the list of IDs from the page before, where’ll you’ll see the ID state marked as ‘pending’.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/id-check-pending.PNG" alt="screenshot of ID check status">
        <p class="caption-text">The state of the ID check will be displayed like this</p>
      </div>
    </div>
    <p>To run the ID check, click view to go back into the ID page, then view again on the ID you are checking and click ‘run ID check’.
      The ID list will then show the updated state of the check</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/run-id-check-button.PNG" alt="screenshot of run ID check button">
        <p class="caption-text">Click this to run the check. The state will show the check results</p>
      </div>
    </div>
    <h3> EPC </h3>
    <p>Before you can upload an EPC (energy performance certificate) for the property, you’ll need to have started building the listing.
      To add an EPC to the listing, first save the EPC on your computer as you would with any other image, then just click ‘choose file’ and select the image you want to add.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/upload-epc.PNG" alt="screenshot of upload EPC button">
        <p class="caption-text">Upload an EPC here</p>
      </div>
    </div>
    <p>You won’t need to click save on this occasion- this will be saved automatically when the image is added.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/staff-epc.PNG" alt="screenshot of an uploaded EPC">
        <p class="caption-text">This is how EPCs are shown on the staff site</p>
      </div>
    </div>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-7"> Appointments Section </h2>
    <p>above the main body of the page, you’ll see a set of tabs.
      Use these to move between the subsections of the appointments section.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/appointments-subsections.PNG" alt="screenshot of appointments nav">
        <p class="caption-text">Use these buttons to move around the appointments section</p>
      </div>
    </div>
    <h3> All </h3>
    <p>This tab will show you a list of all appointments booked for that property.
      You'll also see the date and time of the appointment, the type (valuation, viewing or take on), the status (if it has been cancelled), and a link to view more details about the appointment.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/all-appointments.PNG" alt="screenshot of all appointments list">
        <p class="caption-text"> A full list of all appointments are shown here</p>
      </div>
    </div>
    <h3> Valuation </h3>
    <p>Going here will show you a list of any valuation appointments booked for the property.
      Typically, you’ll only see one appointment here, but more will be visible if you value the property more than once.</p>
    <p>Clicking view on the appointment will take you to a page displaying the date, time and agent handling the valuation.
      These are all shown in dropdown fields- any of the details can be updated.
      On this page you’ll also see a ‘details’ button.
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/view-valuation.PNG" alt="screenshot of valuation">
        <p class="caption-text">This is how valuation details are recorded</p>
      </div>
    </div>
    <p>Clicking this will show you everything collecting in the valuation report.</p>
    <h3> Viewings </h3>
    <p>As with the valuations section, list of all viewings will be shown here.
      Clicking view will show you the agent, the time of the appointment and the buyer who requested the viewing.</p>
    <p>Clicking details on this page will give you some information on the buyers’ financial position.
      this information will be collected when the buyer books a viewing from the consumer site.
      You will also be able to resend the email confirmation link to buyers if the buyer has not confirmed their email address already.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/viewing-details-button.PNG" alt="screenshot of details button">
        <p class="caption-text">Click this to see more information</p>
      </div>
    </div>
    <p>Buyers will need to confirm their email address to book a viewing.
      If they are unconfirmed the viewing will only be provisionally booked; you’ll see the appointment from the staff site, but sellers won’t be notified.</p>
    <h3> take on </h3>
    <p>The take on appointments list works the same as the others.
      Click view on the appoints in the list to view which agent is handling the appointment and the timeslots.
      You won’t see a details button on this page like you will for viewings or valuations, but you will see a send summary button.
      This just sends a summary of the appointment to the seller via email. </p>
    <h3> Availability </h3>
    <p>This is where agents can manage the seller’s availability.
      This works the same way as the agent’s availability section- simply check the boxes to make those timeslots as available for the seller, then hit save</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/appointments-availability.PNG" alt="screenshot of seller availability">
        <p class="caption-text">A sellers availability is managed in the same way as an agents</p>
      </div>
    </div>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-8"> Offers Section </h2>
    <p>Any offers made will show up on this page.
      To make a new offer on behalf of a buyer through the staff site, click ‘make offer’ on the top right of the page.
      This will bring up a blank offer form.</p>
    <p>At the top of this page, you’ll see a ‘select buyer’ field for you to select the buyer who is making the offer.
      Below this, you’ll see fields for the offered amount, the status of the offer, and any additional offer conditions.
      By default, the status of the offer will be open.</p>
    <p>Underneath this, you’ll see checkboxes to confirm that the buyer is not an estate agent, is financially qualified, and has accepted your terms and conditions.
      You’ll need to accept the terms and conditions before an offer can be submitted.</p>
    <p>On the right of the screen, you’ll see fields to collect funding information.
      If an offer is being funded by the sale of another property, there’s a field to record the progression of that sale.
      If it’s being funded by a mortgage, there’s also a dropdown to record the mortgage status.
      If these fields aren’t applicable you can leave them blank.</p>
    <p>When you save this page, you’ll see it from the offers page.
      You can go back into the offer to update it by clicking view on it.
      Update the state of the offer to accepted, rejected or withdrawn.
      If the buyer wants to withdraw their offer, there’s a field where they can leave a withdrawal statement.
      Likewise, there’s a field to include a seller’s written response when accepting or rejecting the statement.</p>
    <p>Any updates to the offer status will be displayed by showing a ribbon in the top right corner of the featured image on the consumer site.</p>
  </div>

  <div> <h2 class="anchor" id="staff-site-part-9"> The Buyers List </h2>
    <p>Any client wishing to book a viewing or make an offer on a property need to be added here.
      Booking a viewing on the consumer site will automatically add them.
    <p>The buyers page shows a list of all buyers added on both the staff and consumer site.
      Buyers are added in groups so that people can buy properties in partnerships.
      For example, a team of investors may want to buy a property; each investor could have their own log in and any viewings or offers made would be on behalf of every buyer in that group.</p>
    <p>On the buyers list, the columns (from left to right) show buyers’ names in that group, their email addresses, any viewings they are booked in for, and a link to view the buyer group.</p>
    <p>On clicking view will allow you to see and edit the name, email address and contact number of each buyer in that group.
      You can also send password reset emails from this page by clicking the button in the top right.</p>
    <p><i>TIP: Make sure you hit save after making any changes here.</i></p>
  </div>
