---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Updating Seller Availability</h1>
  <p>If the seller is handling their own viewings or are having accompanied viewings they will need to keep their availability updated.
    Sellers can choose when they would like to be available for appointments by going to the <strong>'Manage My Availability'</strong> section of their account.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/seller/availability-nav.png" alt="screenshot of 'manage my availability' button">
        <p class="caption-text">This button will only appear once the agent has been instructed</p>
      </div>
    </div>
  <p>On the 'Manage My Availability' page, the seller can update their availability in the same way an agent would from the staff site; simply by clicking the times they would like to be available.
   The selected times will then be shown to buyers when they book viewings on that property.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/seller-availability.png" alt="screenshot of the availability table">
      <p class="caption-text">The seller needs to click 'update availability' to save any changes</p>
    </div>
  </div>
</div>
