---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Pre-Valuation Questions</h1>
  <p>As part of the valuation booking process, the seller will be asked to provide some information about their property to help you be more prepared for the valuation.
    These questions will give you an idea of the following:</p>
  <ul>
    <li><strong>Property Type</strong></li>
    <li><strong>Number of Rooms</strong></li>
    <li><strong>Parking arrangements</strong></li>
    <li><strong>Freehold or leasehold status</strong></li>
    <li><strong>Single or double glazed windows</strong></li>
    <li><strong>Heating type</strong></li>
  </ul>
  <p>The seller will also be asked to provide some basic contact information (just incase you need to get in touch at any point) and a password.
    From that point on, your client will be able to log back in to their hystreet account using that password and the provided email.</p>
  <p><em>TIP: as part of Hystreet's changes for GDPR, your clients will also be asked to choose when they would like to be contacted.
    Once logged in, they will also be able to update these preferences by clicking the circle with their initials in the top right corner of the page and selecting <strong>My Preferences</strong> from the dropdown menu.</em></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/GDPR-contact-preferences.PNG" alt="screenshot of preferences checkboxes">
      <p class="caption-text">To opt-in, your seller will just need to check their prefered options</p>
    </div>
  </div>
</div>
