---
layout: default
title: The Manage Section - Staff Site Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>The Manage Section</h1>
  <p>The 'manage' page of the details section is where you'll be able to update the agent handling the property and the associated branch.
    You'll also see areas to record the property's For Sale board requirements and any access arrangements.</p>
  <p>Below these fields, you'll see dropdown menu labelled 'viewings by'.
    This is where you manage who is handling the viewings (agent or seller), or if the seller has requested accompanied viewings.
    You'll find more detail on this in <a href="/guides/appointments">The Appointments Section</a>.</p>
  <p>At the bottom of this page, you'll see a checkbox labelled 'withdrawn'.
    Check this if you no longer want the listing to display on the consumer facing end of the Hystreet platform.</p>
  </div>
