---
layout: default
title: Upcoming viewing reminders - Buyer guides | Learning Hub | Hystreet
description: The Hystreet platform will automatically remind buyers about their upcoming viewings by sending them email reminders at 9am the day before their viewings
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Upcoming viewing reminders</h1>
  <p>The Hystreet platform will automatically remind buyers about their upcoming viewings by sending them email reminders at 9am the day before their viewings.</p>
  <p>These email reminders include the property address and links to amend or cancel the appointments if neccessary.</p>
</div>
