---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How to amend an appointment</h1>
  <p>To amend an appointment from the staff site, go to <strong>properties &gt; view (on the property) &gt; appointments &gt; view (on the appointment you want to update).</strong></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/all-appointments.PNG" alt="Screenshot of a the appointments list">
      <p class="caption-text">This page will show a list of all appointment types for that property </p>
    </div>
  </div>
  <p>From there, click on the fields to update them as desired then click save.</p>
  <p>At this point, you might want to send your clients an updated appointment confirmation email by clicking ‘notify participants’.</p>
</div>
