---
layout: default
title: How to amend an appointment - Appointments Guides | Learning Hub | Hystreet
description: To amend an appointment from the staff site, go to properties &gt; view (on the property) &gt; appointments
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How to amend an appointment</h1>
  <h2>Changing the appointment</h2>
  <p>To amend an appointment from the staff site, go to <strong>properties &gt; view (on the property) &gt; appointments</strong>.</p>
  <p>On this page, you'll see a list of all appointments booked on the property.
    Click <strong>'view'</strong> on an appointment to see it in more detail.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/all-appointments.PNG" alt="Screenshot of a the appointments list">
      <p class="caption-text">This page will show a list of all appointment types for that property </p>
    </div>
  </div>
  <p>From there, you can select a new time and date for the appointment by clicking on the fields and selecting a new time.
    Be sure to hit save, else the updates to the appointment won't be recorded.</p>
  <h2>Sending update emails</h2>
  <p>Once you've updated the appointment on your system, you might want to send your clients an updated appointment confirmation email.</p>
  <p><strong>For valuation or take on appointments</strong>, go into the appointment and click <strong>'Send amended email'</strong>.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/send-amended-email.PNG" alt="screenshot of send email buttons">
      <p class="caption-text">Use these buttons to manually trigger emails from the staff site</p>
    </div>
  </div>
  <p><strong>For viewing apppointments</strong>, go into the appointment and click <strong>'details' &gt; Send summary</strong>.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/send-summary.PNG" alt="screenshot of send viewing summary button">
      <p class="caption-text">Use these buttons to manually send viewing summaries</p>
    </div>
  </div>
</div>
