---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
<div class="columns right large-9 lh-content">
  <h1>How to amend an appointment</h1>
  <p>To amend an appointment from the staff site, go to <strong>properties > view (on the property) > appointments > view (on the appoint you want to update).</strong></p>
  <h1>How sellers book a valuation</h1>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/all-appointments.PNG" alt="Screenshot of a the 'book launch' button">
      <p class="caption-text">Enter a postcode and click here to book a valuation</p>
    </div>
  </div>
  <p>From there, click on the fields to update them as desired then click save.</p>
  <p>At this point, you might want to send your clients an updated appointment confirmation email by clicking ‘notify participants’.</p>
</div>
