---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How to book a valuation</h1>
  <p>To book a valuation on a property, you will first need to add the property to the platform by going to <strong>properties > add property.</strong></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/add-property-button.PNG" alt="Screenshot of a the 'add property' button">
      <p class="caption-text">Click this to add a property</p>
    </div>
  </div>
  <p>Record the associated branch and agent using the dropdown fields on the left and enter the address using the fields on the right, then hit save.</p>
  <p>On the next page, record the valuation details and save again.</p>
  <p>Once the property has been added and the valuation details have been entered, click <strong>appointments > valuation > add valuation.</strong> </p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/staff-book-valuation.PNG" alt="Screenshot of a the 'add valuation' button">
      <p class="caption-text">Click this to book a valuation</p>
    </div>
  </div>
  <p>Select the agent that is going to carry out the valuation, then select the date and time for the appointment. </p>
  <p>When selecting a time for the appointment from the staff site, you will be shown which time slots are available or already booked, but you can book the appointment in any slot.</p>
</div>
