---
layout: default
title: The Estimated Value of a Property - Seller Guides | Learning Hub | Hystreet
description: Part of the valuation booking process will ask your clients to provide an estimated value for the property
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>The Estimated Value of a Property</h1>
  <p>Part of the valuation booking process will ask your clients to provide an estimated value for the property.</p>
  <p>We've found that this is a really useful piece of information to have.
    If you've got an idea of the price your clients are hoping to get for their property, you'll be able to tweak your sales pitch on the valuation appointment accordingly.</p>
  <p>We've even found that sellers are much more open to giving you this information than if you were to ask the same question in person or over the phone.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/estimated-value.png" alt="screenshot of estimated valuefield">
      <p class="caption-text">Clients will enter their estimated value of the property here</p>
    </div>
  </div>
</div>
