---
layout: default
title: Getting Started Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Setting a Default Area Map</h1>
  <p>On the very first page of the book a valuation process (before we know a postcode or address) we like to show a map of the area you cover to help the customer get a feel for your area.
    As soon as we get their postcode it shows a map of their local area to re-enforce that personal feeling.</p>
  <p>You can set this up and change this yourself (for when you open more branches), simply enter the postcode you’d like the map to centre on and pick a zoom level.
    If it helps, most agents opt for zoom level 13.</p>
  <p>Click ‘Save’ and then check out the map by going to your main page and clicking the ‘Book a Valuation’ button.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/admin/default-map-fields.png" alt="screenshot of default map fields">
      <p class="caption-text">set your default map and zoom level Here</p>
    </div>
  </div>
</div>
