---
layout: default
title: Receiving And Responding To New Offers - Seller Guides | Learning Hub | Hystreet
description: After a buyer has viewed a property and left feedback, they may want to submit an offer on the property
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Receiving And Responding To New Offers</h1>
  <p>After a buyer has viewed a property and left feedback, they may want to submit an offer on the property.
    We've covered making an offer in our <a href="/guides/buyer/">Buyers' Guide</a>.</p>
  <p>As soon as this offer is made, both the agent and seller will receive an email notifying them as such.
    The buyer will also receive an email to confirm the offer has been successfully submitted.</p>
  <p>The seller can view this offer by following the link in the email or by going to <strong>My account &gt; Manage my sale &gt; See offers.</strong>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/consumer-new-offer.PNG" alt="screenshot of a new offer">
      <p class="caption-text">Any conditions included in buyers' offers will also be visible here</p>
    </div>
  </div>
  <p>When the seller is ready to respond to the offer, they can accept or reject it by clicking the corresponding buttons.
    If they would also like to add a message to their response, they can do by clicking the checkbox before clicking a response button.</p>
  <p>If the offer is rejected, the buyer will be sent an email notification. They will also be given the opportunity to submit a new offer.</p>
  <p>If the offer is accepted, the buyer will be notified, and the seller will see a message like the one below:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/offer-accepted.png" alt="screenshot of an accepteed offer">
      <p class="caption-text">The agent will still need to finalise the sale as they usually would</p>
    </div>
  </div>
  <p><em>Tip: accepting the offer here is not legally binding. The agent will still need to process this offer as they normally would to finalise the sale.</em></p>
</div>
