<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
    <link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
    <link href='{{ site.url }}/css/style.css' rel='stylesheet'>
    <link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>
    <script src='{{ site.url }}/js/modernizr.js'></script>
    <script type="text/javascript" src="{{site.url}}/js/autoBreadcrumbs.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97210621-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-97210621-5');
</script>
      <!-- End Google Analytics -->
  </head>



    <body data-sticky-container>
      <div class='contain-to-grid sticky' data-sticky>
        <nav class='top-bar' data-topbar=''>
          <ul class='title-area'>
            <li class='name'>
              <span>
                   <a href="/">
                     <div class="top-bar-logo">
                       <img src='{{site.url}}/images/learning-hub-logo.png' alt="learning hub logo">
                     </div>
                   </a>
              </span>
            </li>
            <li class='toggle-topbar menu-icon'>
              <a href='#'>Menu</a>
            </li>
          </ul>
          <section class='top-bar-section'>
            <ul class="right layout-text">
              {% for item in site.data.nav %}
                {% if item.section_id == page.section_id %}
                  {% assign active_class = "active" %}
                {% else %}
                  {% assign active_class = "" %}
                {% endif %}

                {% if item.children %}
                  <li class="has-dropdown {{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                    <ul class='dropdown'>
                      {% for child in item.children %}
                        <li>
                          <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
        </nav>
        <div class="under-construction-bar">
          <p>This site is currently under construction.
             If you can't find the information you're looking for, get in touch via the
            <a href="/support/"> support tab </a></p>
        </div>
      </div>
      <div class="breadcrumb-wrapper">
      <div class="row">
      <script type="text/javascript">
      <!--
        breadcrumbs()
      ///-->

      </script>
    </div>
  </div>
    <div>
      <div class='full'>
        <div class='lh-row row'>


              {{ content }}

            </div>
          </div>
      </div>
      <div class='footer layout-text'>
        <div class='spacing'></div>
        <div class='row'>
          <div class='large-12 columns'></div>
          <h1 class='light'>
            <img class="footer-logo" src='{{site.url}}/images/hystreet-footer-logo.png' alt="hystreet logo footer">
            <br>
          </h1>
          <div class='spacing'></div>
          </div>
                <p class="contact-text">London <span style="color: #e63375;">//</span> 78 York Street, London, W1H 1DP</p>
                          <div class='spacing'></div>
                <p class="contact-text">0203 908 3000</p>
                    <div class='spacing'></div>
              <div class='socials centered-text'>
            <a href='https://twitter.com/HyStreetUK'>
              <i class='icon-twitter grey'></i>
            </a>
            <a href='https://www.facebook.com/HyStreetUK/'>
              <i class='icon-facebook grey'></i>
            </a>
              <a href='https://www.instagram.com/hystreetuk/'>
              <i class='icon-instagram grey'></i>
            </a>
            <a href='mailto:hello@hystreet.co.uk'>
              <i class='icon-mail grey'></i>
            </a>
                <p class="contact-text"><a href="/privacy">Privacy policy</a> | <a href="/terms-conditions/">Terms &amp; Conditions</a> | <a href="/cookies/">Cookie Policy</a>
                <p class="copyright">Company Number: 10007749 | VAT: 249966541</p>
          <p class='copyright' style="margin-top: -30px;">2018 &copy; Hystreet
            <br>
              Made in England</p>
                      </div>
        </div>

      <script src='{{ site.url }}/js/jquery.min.js'></script>
      <script src='{{ site.url }}/js/foundation.min.js'></script>
      <script src='{{ site.url }}/js/jquery.countTo.js'></script>
      <script src='{{ site.url }}/js/jquery.appear.js'></script>
      <script src='{{ site.url }}/js/app.js'></script>
    </body>
</html>
