---
layout: default
title: FAQs | Learning Hub | Hystreet
description: Frequently asked questions about Hystreet. Find the answer to your questions.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include faqs.html %}
<div class="columns right large-9 lh-content">
 <h1>Admin Options and Customisation</h1>
 <dl class="accordion" data-accordion>
   <dd class="accordion-navigation">
     <a href="#panel1"><strong>Do all staff users have access to admin settings?</strong></a>
     <div id="panel1" class="content active">
       <p>No. Only users that have been granted admin rights have access to agency and branch settings.
         Non-admin users will only see the agents and staff pages, and will only be able to modify their own details.</p>
     </div>
   </dd>
   <dd class="accordion-navigation">
     <a href="#panel2"><strong>Where cam I find the option to add branches?</strong></a>
     <div id="panel2" class="content active">
       <p>Currently, branches can't be added through the staff site platform.
         If you would like to add new branches, simply get in touch with our support team and we will sort it for you!</p>
     </div>
   </dd>
 </dl>
