---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Adding a Buyer</h1>
  <p>Any client wishing to book a viewing or make an offer on a property needs to be added to the buyers list.
    Booking a viewing on the consumer site will automatically add them.
  <p>The buyers page shows a list of all buyers added on both the staff and consumer site.</p>
  <P> To add a new buyer, just click the 'new buyer group' button at the top of the page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/add-buyer.PNG" alt="screenshot of add buyer button">
      <p class="caption-text">click this button to add new buyers</p>
    </div>
  </div>
  <p>Buyers are added in groups so that people can buy properties in partnerships.
    For example, a team of investors may want to buy a property; each investor could have their own log in and any viewings or offers made would be on behalf of every buyer in that group.</p>
  <p>On the buyers list, the columns (from left to right) show buyers’ names in that group, their email addresses, any viewings they are booked in for, and a link to view the buyer group.</p>
  <p>On clicking view will allow you to see and edit the name, email address and contact number of each buyer in that group.
    You can also send password reset emails from this page by clicking the button in the top right.</p>
  <p><i>TIP: Make sure you hit save after making any changes here.</i></p>
</div>
