---
layout: default
title: Portal Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---
<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
<h1>Portal setup models</h1>
  <p>There are many possible combinations but we’ve included a few of the most common setups below as a visual guide:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portals/single-branch-one-profile.PNG" alt="Single branch, one profile">
      <p class="caption-text">Single branch, one profile.</p>
    </div>
  </div>
  <p>The most simple setup would be running a single profile (either sales or lettings) for your branch.
    If you are starting a new business venture to solely offer sales using Hystreet, This will probably your setup.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portals/single-branch-multiple-profiles.PNG" alt="Single branch, multiple profiles">
      <p class="caption-text">Single branch, multiple profiles.</p>
    </div>
  </div>
  <p>If you are already an estabilished agency that offers both lettings and sales using a single CRM, you'll have two profiles (one for lettings and one for sales).</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portals/single-branch-multiple-profiles-multiple-crms.PNG" alt="Single branch, multiple profiles, multiple CRMs">
      <p class="caption-text">Single branch, multiple profiles, multiple CRMs.</p>
    </div>
  </div>
  <p>If you use more than one CRM in your branch (i.e. if you use different softwares for your traditional and online services), you may have multiple profiles for sales or lettings.
    This will be your setup if you are an estabilished agency that offers boths lettings and sales from one CRM, with the addition of a Hystreet platform for your online service.</p>
</div>
