---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---
<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<h1>Portal setup models</h1>
<div>
  <p>There are many possible combinations but we’ve included a few of the most common setups below as a visual guide:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portal-diagrams/single-branch-one-profile.PNG" alt="Single branch, one profile">
      <p class="caption-text">Single branch, one profile.</p>
    </div>
  </div>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portal-diagrams/single-branch-multiple-profiles.PNG" alt="Single branch, multiple profiles">
      <p class="caption-text">Single branch, multiple profiles.</p>
    </div>
  </div>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/portal-diagrams/single-branch-multiple-profiles-multiple-crms.PNG" alt="Single branch, multiple profiles, multiple CRMs">
      <p class="caption-text">Single branch, multiple profiles, multiple CRMs.</p>
    </div>
  </div>
</div>
