---
layout: default
title: Seller Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>The ID Check</h1>
  <p>This section of the 'Getting To Market Checklist' is a legal requirement- the first page the seller sees after clicking 'complete ID check' is in line with the <em>Money Laundering Regulations, 2007,</em> and should be read carefully.
    Once they’ve read through everything, they should check the box to show they understand what the ID check entails then click ‘let’s start the ID check’.</p>
  <p>The seller then needs to fill out all the information on the following pages.
    Once everything has been filled out, the seller can initiate the ID check by clicking 'submit for ID check'.</p>
  <p>The check - which is powered by Experian - will run behind the scenes on the provided information.
    The next page will display the Experian response.
    Once the ID has been accepted, the sale can move forward.</p>
    <div class="text-center mb-30">
      <div class="image-caption">
        <img src="/images/seller/ID-accepted.png" alt="screenshot of an accepted ID check">
        <p class="caption-text">The ID check system provides an instant response to your clients</p>
      </div>
    </div>
</div>
