---
layout: default
title: The ID Check - Seller Guides | Learning Hub | Hystreet
description: This section of the 'Getting To Market Checklist' is a legal requirement- the first page the seller sees after clicking 'complete ID check' is in line with the Money Laundering Regulations, 2007, and should be read carefully
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>The ID Check</h1>
  <p><em>Before a property can go on the market, an ID check should be completed on the seller.
    Hystreet allows your sellers to carry out their own ID checks for you.</em></p>
  <p>To complete an ID check, all the seller needs to do is go to their account, click <strong>'complete checklist' &gt; 'complete ID check'</strong>.</p>
  <p>At the start of the check, the seller will need to click a box to confirm they are happy for the check to take place.<p>
  <p>On the next page, the seller just needs to enter their name, date of birth and home address, then click <strong>'add to ID check'.</strong>
    They will also have the opportunity to add other people involved in the sale.</p>
  <p>When the seller clicks <strong>'submit for ID check'</strong>, the entered information will automatically be sent over to Experian and checked instantly.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/ID-accepted.png" alt="screenshot of an accepted ID check">
      <p class="caption-text">The ID check system provides an instant response to your clients</p>
    </div>
  </div>
  <p>The next screen the seller sees will show them the response to their ID check.
    In rare instances, Experian might not have enough data on a person to approve their ID.
    On these occassions you'll need to request a copy of the seller's photo ID and complete an AML check using your traditional method.</p>
</div>
