---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How buyers or sellers can amend appointments</h1>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/CS-appointment-booked.PNG" alt="Screenshot of a booked appointment">
      <p class="caption-text">This is what the 'amend' and 'cancel' appointment links look like</p>
    </div>
  </div>
  <h2>Valuation</h2>
  <p>If a seller would like to amend the time for a valuation, they can do so by going to <strong>account > manage my sale.</strong> In the box that says ‘step 1: valuation’, there is a link that says ‘amend appointment’.</p>
  <p>Clicking this will take your seller to the time slot table so they can select a new time.</p>
  <h2>take on</h2>
  <p>Sellers can also amend their take on appointments by going to <strong>account > manage my sale > complete checklist > book property take on (completed).</strong> This will take you to the appointment confirmation page.</p>
  <p>From here, your seller can click ‘amend appointment’ to see the time slot table and select a new time.</p>
  <h2>Viewing</h2>
  <p>Buyers that have confirmed their email address can amend their viewing time by going to <strong>account > appointments</strong> then clicking on the box for the viewing they would like to amend. This will take them to the booking confirmation page</p>
  <p>From here, the buyer can click ‘amend appointment’ to see the time slot table and select a new time.</p>
  <p>Please note that sellers can’t amend viewing times but can still cancel them.</p>
</div>
