---
layout: default
title: Appointments Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How sellers book a take on</h1>
  <p>After instructing an agent to sell their property, the next step for a seller is to book a take on.
    They can do this by going to <strong>account &gt; manage my sale &gt; complete checklist &gt; book take on.</strong></p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/CS-book-take-on.PNG" alt="Screenshot of a the 'book take on' button">
      <p class="caption-text">Click this to book a take on appointment from the consumer site</p>
    </div>
  </div>
  <p>The seller will be presented with a table of all available time slots to pick their take on time from.
    Once they have selected a time they will need to click ‘book property take on’.</p>
  <p>They will then be taken to a page that advises them on preparing for the take on appointment (i.e. tidying up and clearing clutter).</p>
  <p>Clicking ‘okay- got it’ will take them to the appointment confirmation page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/seller/housekeeping-page.png" alt="Screenshot of the take on preparation tips">
      <p class="caption-text">These tips should ensure that your take on appointments are as productive as possible</p>
    </div>
  </div>
</div>
