---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Accessing The Staff Site</h1>
  <p>To access your staff site, you will need to go to <strong>[your brand].hystreet.co.uk/staff</strong>.</p>
  <p>When the page first loads up, it will look something like this:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/staff-login.PNG" alt="screenshot of staff login page">
      <p class="caption-text">enter your login details to access the platform here</p>
    </div>
  </div>
  <p>This page isn't to be confused with your client's login page, <strong>[your brand].hystreet.co.uk/</strong>.</p>
  <p>Your client login page looks like this (but you can't log in from here):</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/consumer-login.PNG" alt="screenshot of consumer login page">
      <p class="caption-text">your clients will login from here</p>
    </div>
  </div>
</div>
