---
layout: default
title: FAQs | Learning Hub | Hystreet
description: Frequently asked questions about Hystreet. Find the answer to your questions.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include faqs.html %}
<div class="columns right large-9 lh-content">
  <h1>Emails and Notifications</h1>

  <strong>How will I be notified of developments in the market process?</strong>
  <p>
  Right now, You’ll receive email notifications for new bookings, changes in bookings or cancelations made from the consumer site. You’ll also receive notifications surrounding offers from the consumer site. </p>
  <p>
  There’s currently a notification overhaul in the works. As part of this overhaul, you’ll receive email notifications for all changes made on both the staff and consumer site; you’ll never have to worry about being out of the loop on any of the properties you manage.</P>
  <p>
  The overhaul is going to be rolled out in stages across several updates over the next few months- stay tuned!</p>
