---
layout: default
title: Adding Rooms to a Listing - Staff Site Guides | Learning Hub | Hystreet
description: A list of all rooms added from the Rooms page will be visible on the listing page on the client facing end of the platform
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Adding Rooms to a Listing</h1>
  <p>A list of all rooms added from the Rooms page will be visible on the listing page on the client facing end of the platform.
    To add a room, go to the <Strong>Rooms</strong> page of the listing section and click the ‘add room’ button at the top of the page.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/add-room.PNG" alt="screenshot of room details fields">
      <p class="caption-text">Provide details for the room here</p>
    </div>
  </div>
  <p>On the next page, you’ll see four fields.
    Anything put into the first two fields will be shown on the consumer site.
    The ‘room type’ drop down will determine which logo shows next to the room name and dimensions on the consumer listing.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/room-list-consumer.PNG" alt="screenshot of rooms on consumer site">
      <p class="caption-text">This is how any rooms added will be displayed</p>
    </div>
  </div>
  <p>Any text entered the ‘description’ field is included on the published listing on portal sites.</p>
</div>
