---
layout: default
title: Adding Rooms to a Listing - Staff Site Guides | Learning Hub | Hystreet
description: A list of all rooms added from the Rooms page will be visible on the listing page on the client facing end of the platform
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Adding Rooms to a Listing</h1>
  <p>You can add new rooms to a listing by going to <strong>Properties &gt; View (on the property) &gt; Listing &gt; Rooms</strong>.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/rooms-tab.png" alt="screenshot of rooms tab">
      <p class="caption-text">This tab will take you to the Rooms page</p>
    </div>
  </div>
  <p>From here, click the <strong>‘add room’</strong> button at the top of the page.
    On the next page, you'll see four fields:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/add-room.PNG" alt="screenshot of room details fields">
      <p class="caption-text">Provide details for the room here</p>
    </div>
  </div>
  <ul>
    <li><strong>Name:</strong> This would typically be something like 'Master Bedroom' or 'Guest En-suite'.</li>
    <li><strong>Dimensions:</strong> Enter the room measurements as per the floorplan here.</li>
    <li><strong>Room Type:</strong> This drop-down menu will determine which logo shows next to the room name and dimensions on the listing from the consumer site.</li>
    <li><strong>Description:</strong> Use this space to write a description of the room in addition to the main property description.</li>
  </ul>
  <p>Repeat this process until you've added every room you'd like featured on the listing.
    Each room you've added will then be shown on the consumer site, on the left side of the listing just below the property description.</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/room-list-consumer.PNG" alt="screenshot of rooms on consumer site">
      <p class="caption-text">This is how any rooms added will be displayed</p>
    </div>
  </div>
</div>
