---
layout: default
title: What are User Roles? - Getting Started Guides | Learning Hub | Hystreet
description: You can limit the amount of control your staff members have over the Hystreet platform by setting them as different roles
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>What are User Roles?</h1>
  <p>You can limit the amount of control your staff members have over the Hystreet platform by setting them as different roles.
    There are three available but most agencies only require ‘Staff’ and ‘Admin’.</p>
  <strong>Staff</strong><br>
  <p>These users can:</p>
  <ul>
    <li>Create/Update properties</li>
    <li>Create/Update sellers</li>
    <li>Create/Update buyers</li>
    <li>Book appointments</li>
    <li>Update Agent availability</li>
  </ul>
  <strong>Admin</strong><br>
  <p>Admin users have all of the rights that Staff users do plus:</p>
  <ul>
    <li>Set agency wide settings</li>
    <li>Configure Branches</li>
    <li>Configure Agents</li>
    <li>Configure Staff Accounts</li>
  </ul>
</div>
