---
layout: default
title: Guides | Learning Hub
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>How buyers or sellers can cancel appointments</h1>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/appointments/CS-appointment-booked.PNG" alt="Screenshot of a booked appointment">
      <p class="caption-text">This is what the 'amend' and 'cancel' appointment links look like</p>
    </div>
  </div>
  <h2>Valuation</h2>
  <p>If a seller would like to cancel their valuation, they can do so by going to <strong>account &gt; manage my sale.</strong> In the box that says ‘step 1: valuation’, there is a link that says ‘cancel appointment’. They will be asked to confirm their decision before the cancelation is finalised.</p>
  <h2>take on</h2>
  <p>Sellers can also cancel their take on appointments by going to <strong>account &gt; manage my sale &gt; complete checklist &gt; book property take on (completed).</strong> This will take you to the appointment confirmation page. </p>
  <p>From here, your seller can click ‘cancel appointment’. As with valuation cancelations, they will be asked to confirm their decision before the cancelation is finalised.</p>
  <h2>Viewing</h2>
  <p>Both buyers and sellers can cancel viewings by to <strong>account &gt; appointments</strong> then clicking on the box for the viewing. On the appointment confirmation page, they can click ‘cancel appointment’ and confirm their decision.</p>
</div>
