---
layout: default
title: Staff Site Guides | Learning Hub | Hystreet
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home
menu: site.data.birds
---

<div class="columns left large-3 lh-left-nav">
  {% include recently-updated.html %}
  {% include guides.html %}
</div>
<div class="columns right large-9 lh-content">
  <h1>Sending Booking Links to Clients</h1>
  <p>Once you have put a property on the market, you can expect potnetial buyers to start enquiring.
    Regardless of whether these enquiries come from the portals, your marketing website or social media, you can easily direct them to viewings using the booking link for that property.</p>
  <p>You can find these Links by clicking <strong>Properties &gt; View (on the property) &gt; Listing</strong>.
    This will lead you to the <strong>listing presentation page</strong>.</p>
  <p>On the presentation page, you'll see a box labelled <strong>'booking links'</strong>:</p>
  <div class="text-center mb-30">
    <div class="image-caption">
      <img src="/images/staff-site/booking-links.png" alt="screenshot of a booking link">
      <p class="caption-text">Simply copy and paste the web address in this box</p>
    </div>
  </div>
  <p>Simply copy and paste the line of text in this box that says <strong>[yourbrand].hystreet.co.uk/properties/[ID]/request-viewing</strong>.
    Send the link to the enquirers - following the link will lead them straight to the valuation booking page.</p>
  <p>Please note that you only need to send the top line in this box to your clients.
    If you copy and paste the line underneath the web address as well, the link may not work.</p>
  <p><em>TIP: if you are sending this booking link out to anyone, please make sure that availability has been set for the property.
    For more information on setting availability, please visit our <a href="/guides/appointments">appointments guide</a>.</em></p>
</div>
